<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>Isidora Buneta</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>
  {# <link rel="icon" href="images/credo-favicon.png"> #}
  {# {% if _GET[0] == 'project'%} #}
  <meta property="og:title" content="{% if _GET[0] == 'project'%}{% block ogtitle %}{% endblock %}{% else %}ISIDORA{% endif %}"/>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% if _GET[0] == 'project'%}{% block ogimage %}{% endblock %}{% else %}images/logo-c.svg{% endif %}"/>
  <meta property="og:description" content="{% if _GET[0] == 'project'%}{% block ogdesc %}{% endblock %}{% else %}CREDO{% endif %}"/>
  <meta property="og:url" content="{% if _GET[0] == 'project'%}{% block ogurl %}{% endblock %}{% else %}{{_BASE}}{% endif %}" />
  {# {% endif %} #}

  {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> #}
  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl/assets/owl.theme.default.css" />
  <link rel="stylesheet" href="fancybox-master/dist/jquery.fancybox.min.css" />
  {# <link href="fontawesome-free-5.6.3-web/css/all.css" rel="stylesheet"> #}
  <link href="aos-master/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>

<div class="menu-main background-purple font-14 font-white display--xxl-flex justify-content-between align-items-center display--m-none">
    <div class="menu-main--left flex justify-content-between align-items-center margin-xxl--left-52">
        <div class="menu-main--left--phone margin-xxl--right-70 margin-xl--right-40"><span class="margin-xxl--right-24">Broj telefona</span><span><a href="tel:0118789685">011 8789-685</a></span></div>
        <div class="menu-main--left--newsletter display--m-none"><a href="">Newsletter</a></div>
    </div>

    <div class="menu-main--right flex justify-content-between align-items-center  margin-xxl--right-52">
            {% if _GET[0] == 'radionica' %}
                {% set Radionica = fetch("Radionica", {"id": _GET['1']})[0] %}
                <div class="flex align-items-center display--1260-none">
                    <img src="assets/shared/date-white.png">
                    <div class="font--xxl-14 font-white margin-xxl--left-10">{{ Radionica.Datum | date("d.m.Y") }}</div>
                    {% if Radionica.Otvorena == 'true' %}
                    <div class="font--xxl-14 font-white margin-xxl--left-40">Radionica otvorena, ostalo još {{Radionica.Mesto}}</div>
                    <div class="font--xxl-14 font-white margin-xxl--left-10">{{ Radionica.Vreme }}</div>
                    {% endif %}
                    {% if Radionica.Otvorena == 'false' %}
                    <div class="font--xxl-14 font-white margin-xxl--left-40">Radionica zatvorena</div>
                    {% endif %}
                </div>
                <div onClick="radionica_open()" class="radionica-info" style="cursor: pointer;">
                    <img src="assets/shared/date-white.png">
                </div>
            {% endif %}
        
        <div class="menu-main--right--social margin-xxl--right-48">
            <span class="margin-xxl--left-24 display--l-none"><a href=""><img src="./assets/shared/instagram.svg"></a></span>
            <span class="margin-xxl--left-24 display--l-none"><a href=""><img src="./assets/shared/facebook.svg"></a></span>
            <span class="margin-xxl--left-24 display--l-none"><a href=""><img src="./assets/shared/pinterest.svg"></a></span>
            <span class="margin-xxl--left-24 display--l-none"><a href=""><img src="./assets/shared/linkedin.svg"></a></span>
        </div>
        <div class="menu-main--right--search flex align-items-center justify-content-center">
            <span class="display--xl-none">Pretraži</span>
            <span class="menu-main--right--search-icon flex align-items-center justify-content-center background-white margin-xxl--left-28">
                {# <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                    <path class="loopa" d="M9.29102 8.1761H8.70383L8.49571 7.97541C9.22413 7.12807 9.66266 6.02802 9.66266 4.83133C9.66266 2.16295 7.49971 0 4.83133 0C2.16295 0 0 2.16295 0 4.83133C0 7.49971 2.16295 9.66266 4.83133 9.66266C6.02802 9.66266 7.12807 9.22413 7.97541 8.49571L8.1761 8.70383V9.29102L11.8925 13L13 11.8925L9.29102 8.1761ZM4.83133 8.1761C2.98056 8.1761 1.48656 6.6821 1.48656 4.83133C1.48656 2.98056 2.98056 1.48656 4.83133 1.48656C6.6821 1.48656 8.1761 2.98056 8.1761 4.83133C8.1761 6.6821 6.6821 8.1761 4.83133 8.1761Z" fill="#291644"/>
                </svg> #}
                <div id="js-search" style="margin-top: 5px; display: flex; align-items: center;" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                    <path class="loopa" d="M9.29102 8.1761H8.70383L8.49571 7.97541C9.22413 7.12807 9.66266 6.02802 9.66266 4.83133C9.66266 2.16295 7.49971 0 4.83133 0C2.16295 0 0 2.16295 0 4.83133C0 7.49971 2.16295 9.66266 4.83133 9.66266C6.02802 9.66266 7.12807 9.22413 7.97541 8.49571L8.1761 8.70383V9.29102L11.8925 13L13 11.8925L9.29102 8.1761ZM4.83133 8.1761C2.98056 8.1761 1.48656 6.6821 1.48656 4.83133C1.48656 2.98056 2.98056 1.48656 4.83133 1.48656C6.6821 1.48656 8.1761 2.98056 8.1761 4.83133C8.1761 6.6821 6.6821 8.1761 4.83133 8.1761Z" fill="#291644"/>
                    </svg>
                </div>
                
            </span>
        </div>
    </div>
</div>

<div id="radionicaInfo" class="flex flex-column" style="display: none;">
    <div onClick="radionica_close()" style="cursor: pointer;" class="flex justify-content-end margin-xxl--right-48 margin-xxl--top-24"><img src="assets/shared/close-icon.svg"></div>
    <div class="w-100 flex flex-column flex-1 align-items-center justify-content-center">
    {% set Radionica = fetch("Radionica", {"id": _GET['1']})[0] %}
        {% if Radionica.Otvorena == 'true' %}
        <div class="font--xxl-24 font-white font-bold margin-xxl--left-24 margin-xxl--right-24 text-center">Radionica otvorena, ostalo još {{Radionica.Mesto}}</div>
        <div class="font--xxl-24 font-white margin-xxl--top-48">{{Radionica.Grad}}</div>
        <div class="font--xxl-24 font-white margin-xxl--top-24">{{Radionica.Adresa}}</div>
        <div class="font--xxl-62 font--s-32 font-white margin-xxl--top-24 margin-xxl--bottom-48">{{ Radionica.Vreme }}</div>
        {% endif %}
        {% if Radionica.Otvorena == 'false' %}
        <div class="font--xxl-14 font-white font-bold">Radionica zatvorena</div>
        {% endif %}
        <div class="flex margin-xxl--top-48">
            <span><a href=""><img src="./assets/shared/instagram.svg"></a></span>
            <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/facebook.svg"></a></span>
            <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/pinterest.svg"></a></span>
            <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/linkedin.svg"></a></span>
        </div>
    </div>
</div>

<div id="js-pretraga" style="display: none;" class="flex align-items-center justify-content-center">
    <input id="typeahead_m" type="text" placeholder="Search" class="pretraga isidora">
</div>

<div class="menu-second font-14 font-white flex justify-content-between align-items-center" id="secondmenu">
    <a href="index" class="menu-second--left flex align-items-center margin-xxl--left-52 margin-s--left-24">
        <span class="margin-xxl--right-28">
            <svg class="logo-white" id="logo" width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.8341 8.5037C17.2496 8.5037 19.2104 6.59865 19.2104 4.25185C19.2104 1.90505 17.2496 0 14.8341 0C12.4186 0 10.4578 1.90505 10.4578 4.25185C10.4578 6.59865 12.4186 8.5037 14.8341 8.5037Z"/>
                <path d="M22.8763 14.5234C19.0684 14.5234 15.5161 16.042 12.9301 18.444C10.3441 20.8736 8.75269 24.1591 8.75269 27.6931C8.75269 31.2271 10.3441 34.5403 12.9301 36.9699C15.5161 39.3995 19.0684 40.9181 22.8763 40.9181C26.6843 40.9181 30.2366 39.3995 32.8226 36.9699C35.4086 34.5403 37 31.2271 37 27.6931C37 24.1591 35.4086 20.8736 32.8226 18.444C30.2366 16.0143 26.7127 14.5234 22.8763 14.5234ZM34.0161 27.6931C34.0161 30.7578 32.7657 33.5739 30.7481 35.617C28.7304 37.6601 25.9455 38.9578 22.8763 38.9854C19.7788 38.9854 16.9939 37.6878 14.9762 35.617C12.9585 33.5739 11.7081 30.7578 11.7081 27.6931C11.7081 24.6561 12.9585 21.8675 14.9762 19.8244C16.9939 17.7814 19.7788 16.4837 22.8763 16.4837C25.9455 16.5113 28.7304 17.7814 30.7481 19.8244C32.7657 21.8399 34.0161 24.6561 34.0161 27.6931Z" />
                <path d="M4.00691 0.138672H0V41.0006H4.00691V0.138672Z" />
            </svg>
        </span>
        <span>
            <svg class="logo-white" width="116" height="29" viewBox="0 0 116 29" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo2">
                {# <g clip-path="url(#clip0)"> #}
                    <path d="M58.161 16.4883H64.0047C66.0753 16.4883 67.5017 17.7394 67.5017 19.5268C67.5017 20.8226 66.8115 21.5823 65.6612 22.2078C67.1336 22.9228 68.0079 24.0399 68.0079 25.3804C68.0079 27.3465 66.4434 28.7317 64.2348 28.7317H58.161V16.4883ZM63.6366 21.7163C65.063 21.7163 66.0753 20.912 66.0753 19.7502C66.0753 18.5884 65.063 17.7841 63.6366 17.7841H59.5874V21.7163H63.6366ZM63.8667 27.5253C65.4311 27.5253 66.5815 26.5869 66.5815 25.2464C66.5815 23.9058 65.4772 22.9675 63.8667 22.9675H59.5874V27.5253H63.8667Z" fill="white"/>
                    <path d="M78.2229 19.5273V28.777H76.8425V27.3024C76.2903 28.2854 75.0479 29.0004 73.6675 29.0004C71.5509 29.0004 70.0785 27.5258 70.0785 25.4257V19.5273H71.4589V25.2469C71.4589 26.7662 72.4252 27.7939 73.8516 27.7939C75.4621 27.7939 76.8425 26.7215 76.8425 25.4257V19.5273H78.2229Z" fill="white"/>
                    <path d="M88.806 22.9221V28.8205H87.4256V23.1009C87.4256 21.5816 86.4593 20.5539 85.0329 20.5539C83.4224 20.5539 82.042 21.6263 82.042 22.9221V28.8205H80.6616V19.5262H82.042V21.0007C82.5942 20.0177 83.8365 19.3027 85.217 19.3027C87.2876 19.3474 88.806 20.822 88.806 22.9221Z" fill="white"/>
                    <path d="M98.5148 26.6756L99.389 27.5693C98.5608 28.463 96.8583 28.9992 95.5239 28.9992C92.9472 28.9992 90.6465 26.9884 90.6465 24.1286C90.6465 21.3582 92.8091 19.3027 95.3859 19.3027C98.2847 19.3027 99.9412 21.4029 99.9412 24.6648H92.0729C92.257 26.4522 93.5913 27.7927 95.4779 27.7927C96.6282 27.7927 97.9166 27.3459 98.5148 26.6756ZM92.0729 23.4584H98.5608C98.3767 21.805 97.3645 20.5092 95.4319 20.5092C93.7294 20.5092 92.349 21.671 92.0729 23.4584Z" fill="white"/>
                    <path d="M106.659 28.4196C106.153 28.7771 105.509 29.0005 104.865 29.0005C103.484 29.0005 102.518 28.0174 102.518 26.6322V20.7339H101V19.5275H102.518V16.9805H103.898V19.5275H106.245V20.7339H103.898V26.6322C103.898 27.3025 104.405 27.794 104.957 27.794C105.371 27.794 105.739 27.6153 105.969 27.4366L106.659 28.4196Z" fill="white"/>
                    <path d="M116 23.1458V28.776H114.62V27.3461C113.929 28.4185 112.503 28.9994 111.215 28.9994C109.19 28.9994 107.718 27.8823 107.718 26.0503C107.718 24.2182 109.42 22.9671 111.491 22.9671C112.549 22.9671 113.653 23.1905 114.62 23.5033V23.1458C114.62 21.8947 114.113 20.4648 111.997 20.4648C111.03 20.4648 110.064 20.8669 109.19 21.3138L108.638 20.2413C110.018 19.5711 111.169 19.3477 112.089 19.3477C114.712 19.3477 116 20.9116 116 23.1458ZM114.574 25.8715V24.4416C113.699 24.2182 112.733 24.0842 111.675 24.0842C110.248 24.0842 109.052 24.8885 109.052 25.9609C109.052 27.1227 110.11 27.793 111.445 27.793C112.733 27.8376 114.205 27.2121 114.574 25.8715Z" fill="white"/>
                    <path d="M0.506104 16.4883H1.97854V28.7764H0.506104V16.4883Z" fill="white"/>
                    <path d="M3.81909 27.614L4.55531 26.6309C5.65963 27.3906 6.76395 27.7927 7.82226 27.7927C9.11064 27.7927 9.93889 27.2118 9.93889 26.3628C9.93889 25.3798 8.83456 25.0223 7.50017 24.6648C5.15348 24.0393 4.27923 23.369 4.27923 22.0285C4.27923 20.3305 5.75166 19.3027 7.63821 19.3027C8.83456 19.3027 10.0769 19.7049 11.0892 20.3305L10.399 21.3582C9.43274 20.7773 8.46645 20.4645 7.63821 20.4645C6.5799 20.4645 5.65963 20.9114 5.65963 21.805C5.65963 22.6094 6.34983 22.8775 8.14436 23.4137C9.70882 23.8605 11.2733 24.3967 11.2733 26.1394C11.2733 27.8374 9.75483 28.9098 7.77625 28.9098C6.44186 28.9992 4.96943 28.5077 3.81909 27.614Z" fill="white"/>
                    <path d="M12.9297 16.9796C12.9297 16.5328 13.3438 16.0859 13.85 16.0859C14.3561 16.0859 14.7702 16.4881 14.7702 16.9796C14.7702 17.4711 14.3561 17.8733 13.85 17.8733C13.3438 17.8733 12.9297 17.4265 12.9297 16.9796ZM13.1598 19.5266H14.5402V28.7762H13.1598V19.5266Z" fill="white"/>
                    <path d="M25.8135 16.2656V28.7772H24.4331V27.0345C23.6969 28.241 22.5006 29.0006 20.9361 29.0006C18.4054 29.0006 16.5188 26.9898 16.5188 24.13C16.5188 21.3149 18.4054 19.3041 20.9361 19.3041C22.5006 19.3041 23.6969 20.0191 24.4331 21.2702V16.2656H25.8135ZM24.3871 24.1747C24.3871 22.0299 23.0527 20.5553 21.1662 20.5553C19.2796 20.5553 17.9452 22.0746 17.9452 24.1747C17.9452 26.2749 19.2796 27.8388 21.1662 27.8388C23.0527 27.7941 24.3871 26.2749 24.3871 24.1747Z" fill="white"/>
                    <path d="M27.7461 24.1735C27.7461 21.5372 30.0468 19.3477 32.7155 19.3477C35.3843 19.3477 37.731 21.5372 37.731 24.1735C37.731 26.8099 35.4303 28.9994 32.7616 28.9994C30.0928 28.9994 27.7461 26.7652 27.7461 24.1735ZM36.2586 24.1735C36.2586 22.2074 34.6481 20.5541 32.7616 20.5541C30.829 20.5541 29.2645 22.2074 29.2645 24.1735C29.2645 26.1396 30.875 27.8376 32.7616 27.8376C34.6481 27.793 36.2586 26.1396 36.2586 24.1735Z" fill="white"/>
                    <path d="M44.8171 19.3477V20.5541C42.6545 20.5541 41.09 21.85 41.09 23.6373V28.8207H39.7096V19.5264H41.09V21.3138C41.6422 20.1073 43.0226 19.3477 44.8171 19.3477Z" fill="white"/>
                    <path d="M54.0658 23.1458V28.776H52.6853V27.3461C51.9951 28.4185 50.5687 28.9994 49.2803 28.9994C47.2558 28.9994 45.7833 27.8823 45.7833 26.0503C45.7833 24.2182 47.4858 22.9671 49.5564 22.9671C50.6147 22.9671 51.7191 23.1905 52.6853 23.5033V23.1458C52.6853 21.8947 52.1792 20.4648 50.0626 20.4648C49.0963 20.4648 48.13 20.8669 47.2558 21.3138L46.7036 20.2413C48.084 19.5711 49.2343 19.3477 50.1546 19.3477C52.8234 19.3477 54.0658 20.9116 54.0658 23.1458ZM52.6853 25.8715V24.4416C51.8111 24.2182 50.8448 24.0842 49.7865 24.0842C48.3601 24.0842 47.1637 24.8885 47.1637 25.9609C47.1637 27.1227 48.222 27.793 49.5564 27.793C50.7988 27.8376 52.3172 27.2121 52.6853 25.8715Z" fill="white"/>
                    <path d="M0 0.222656H2.80682C4.23324 0.222656 5.38358 1.11634 5.38358 2.36749C5.38358 3.61865 4.27925 4.51233 2.80682 4.51233H0.782229V6.92528H0V0.222656ZM2.66878 3.79739C3.81912 3.79739 4.55534 3.26118 4.55534 2.36749C4.55534 1.47381 3.81912 0.937602 2.66878 0.937602H0.782229V3.79739H2.66878Z" fill="white"/>
                    <path d="M5.88977 6.25528L6.30389 5.71907C6.90207 6.12123 7.50024 6.34465 8.0524 6.34465C8.74261 6.34465 9.20274 6.03186 9.20274 5.54034C9.20274 5.00413 8.60457 4.82539 7.86835 4.64666C6.62599 4.28918 6.11984 3.93171 6.11984 3.21676C6.11984 2.32308 6.90207 1.74219 7.96038 1.74219C8.60457 1.74219 9.29477 1.96561 9.84693 2.32308L9.47882 2.90397C8.97267 2.59119 8.42051 2.41245 7.96038 2.41245C7.40821 2.41245 6.90207 2.68055 6.90207 3.1274C6.90207 3.57424 7.27017 3.70829 8.23646 4.02108C9.0647 4.28918 9.93896 4.55729 9.93896 5.49565C9.93896 6.43402 9.11071 7.01491 8.00639 7.01491C7.3622 7.01491 6.53396 6.74681 5.88977 6.25528Z" fill="white"/>
                    <path d="M10.8591 0.491525C10.8591 0.223421 11.0892 0 11.3653 0C11.6414 0 11.8714 0.223421 11.8714 0.491525C11.8714 0.75963 11.6414 0.983051 11.3653 0.983051C11.0892 0.983051 10.8591 0.75963 10.8591 0.491525ZM10.9972 1.87673H11.7334V6.88136H10.9972V1.87673Z" fill="white"/>
                    <path d="M17.4392 3.70926V6.92652H16.7029V3.79863C16.7029 2.99431 16.1508 2.41342 15.4146 2.41342C14.5403 2.41342 13.8041 2.99431 13.8041 3.70926V6.92652H13.0679V0.0898438H13.8041V2.68152C14.1262 2.14531 14.7704 1.74316 15.5066 1.74316C16.6569 1.74316 17.4392 2.54747 17.4392 3.70926Z" fill="white"/>
                    <path d="M18.4514 4.37855C18.4514 2.94866 19.6938 1.74219 21.1662 1.74219C22.6386 1.74219 23.881 2.94866 23.881 4.37855C23.881 5.80844 22.6386 7.01491 21.1662 7.01491C19.6938 7.01491 18.4514 5.80844 18.4514 4.37855ZM23.0528 4.37855C23.0528 3.30613 22.1785 2.41245 21.1662 2.41245C20.1079 2.41245 19.2797 3.30613 19.2797 4.37855C19.2797 5.45097 20.1539 6.34465 21.1662 6.34465C22.1785 6.38934 23.0528 5.45097 23.0528 4.37855Z" fill="white"/>
                    <path d="M27.516 6.70328C27.2399 6.9267 26.9178 7.01607 26.5497 7.01607C25.8135 7.01607 25.2613 6.47986 25.2613 5.72023V2.54766H24.4331V1.8774H25.3074V0.492188H26.0436V1.8774H27.332V2.54766H26.0436V5.76491C26.0436 6.12239 26.3197 6.39049 26.5957 6.39049C26.8258 6.39049 27.0099 6.30112 27.1479 6.16707L27.516 6.70328Z" fill="white"/>
                    <path d="M32.3475 5.76376L32.8076 6.25528C32.3475 6.74681 31.4272 7.01491 30.691 7.01491C29.3106 7.01491 28.0222 5.89781 28.0222 4.37855C28.0222 2.85929 29.1726 1.74219 30.599 1.74219C32.1634 1.74219 33.0837 2.90397 33.0837 4.64666H28.8044C28.8965 5.62971 29.6327 6.34465 30.645 6.34465C31.3352 6.38934 32.0254 6.12123 32.3475 5.76376ZM28.8505 4.02108H32.3475C32.2555 3.1274 31.7033 2.41245 30.645 2.41245C29.7247 2.41245 28.9885 3.03803 28.8505 4.02108Z" fill="white"/>
                    <path d="M36.9488 1.74219V2.41245C35.7524 2.41245 34.9242 3.1274 34.9242 4.11045V6.92555H34.188V1.87624H34.9242V2.85929C35.2463 2.18903 35.9825 1.74219 36.9488 1.74219Z" fill="white"/>
                    <path d="M42.0103 3.84234V6.92555H41.2741V6.12123C40.906 6.70213 40.1237 7.01491 39.4335 7.01491C38.3292 7.01491 37.501 6.38934 37.501 5.40629C37.501 4.42324 38.4212 3.75297 39.5716 3.75297C40.1237 3.75297 40.7219 3.88703 41.2741 4.02108V3.84234C41.2741 3.17208 40.998 2.36777 39.8477 2.36777C39.3415 2.36777 38.7894 2.59119 38.3292 2.81461L38.0071 2.23371C38.7433 1.87624 39.3875 1.74219 39.8937 1.74219C41.3201 1.74219 42.0103 2.63587 42.0103 3.84234ZM41.2281 5.31692V4.55729C40.7679 4.42324 40.2158 4.33387 39.6636 4.33387C38.8814 4.33387 38.2372 4.78071 38.2372 5.3616C38.2372 5.98718 38.7894 6.34465 39.5256 6.34465C40.2158 6.38934 41.044 6.03186 41.2281 5.31692Z" fill="white"/>
                    <path d="M48.4062 4.37855C48.4062 5.9425 47.3939 7.01491 46.0135 7.01491C45.1853 7.01491 44.4951 6.61276 44.127 5.9425V8.57886H43.3907V1.87624H44.127V2.81461C44.5411 2.14434 45.1853 1.74219 46.0135 1.74219C47.3939 1.74219 48.4062 2.85929 48.4062 4.37855ZM47.624 4.37855C47.624 3.21676 46.8878 2.41245 45.8755 2.41245C44.8632 2.41245 44.127 3.21676 44.127 4.37855C44.127 5.54034 44.8632 6.34465 45.8755 6.34465C46.8878 6.38934 47.624 5.54034 47.624 4.37855Z" fill="white"/>
                    <path d="M53.4677 5.76376L53.9279 6.25528C53.4677 6.74681 52.5475 7.01491 51.8112 7.01491C50.4308 7.01491 49.1425 5.89781 49.1425 4.37855C49.1425 2.85929 50.2928 1.74219 51.7192 1.74219C53.2837 1.74219 54.2039 2.90397 54.2039 4.64666H49.9247C50.0167 5.62971 50.7529 6.34465 51.7652 6.34465C52.4554 6.38934 53.1456 6.12123 53.4677 5.76376ZM50.0167 4.02108H53.5137C53.4217 3.1274 52.8695 2.41245 51.8112 2.41245C50.891 2.41245 50.1548 3.03803 50.0167 4.02108Z" fill="white"/>
                    <path d="M59.6795 1.87695V6.88158H58.9433V6.07726C58.6212 6.61347 57.977 7.01563 57.2408 7.01563C56.0905 7.01563 55.2622 6.21131 55.2622 5.04953V1.87695H55.9984V4.96016C55.9984 5.76447 56.5506 6.34537 57.2868 6.34537C58.1611 6.34537 58.8973 5.76447 58.8973 5.04953V1.87695H59.6795Z" fill="white"/>
                    <path d="M63.6366 6.70328C63.3605 6.9267 63.0384 7.01607 62.6703 7.01607C61.9341 7.01607 61.3819 6.47986 61.3819 5.72023V2.54766H60.5537V1.8774H61.3819V0.492188H62.1182V1.8774H63.4065V2.54766H62.1182V5.76491C62.1182 6.12239 62.3942 6.39049 62.6703 6.39049C62.9004 6.39049 63.0844 6.30112 63.2225 6.16707L63.6366 6.70328Z" fill="white"/>
                {# </g> #}
                <defs>
                    <clipPath id="clip0">
                        <rect width="116" height="29" fill="white"/>
                    </clipPath>
                </defs>
            </svg>

        </span>
    </a>
    <div class="flex">
    {% if _GET[0] == 'radionica' %}
        <div onClick="radionica_open()" class="radionica-info margin-xxl--left-24" style="cursor: pointer;">
            <img src="assets/shared/date-white.png">
        </div>
    {% endif %}
        <div class="menu-second--right font-white--menu flex align-items-center margin-xxl--right-52 " id="menusecond">
            <div class="menu-second--right-links display--xl-none">
                <span class="margin-xxl--left-52"><a href="o_meni">O meni</a></span>
                <span class="margin-xxl--left-52 margin-xl--left-40"><a href="radionice">Radionica</a></span>
                <span class="margin-xxl--left-52 margin-xl--left-40"><a href="mrsavljenje">Mršavljenje</a></span>
                <span class="margin-xxl--left-52 margin-xl--left-40"><a href="psihoterapija">Psihoterapija</a></span>
                <span class="margin-xxl--left-52 margin-xl--left-40"><a href="video">Video</a></span>
                <span class="margin-xxl--left-52 margin-xl--left-40"><a href="blog">Blog</a></span>
            </div>
            <div class="menu-second--right-kontakt flex align-items-center margin-xxl--left-52 display--xl-none">
                <span class="display--xl-none">
                    <svg class="logo-white" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg" id="contacticon">
                        <path d="M18 6H8V12H6V4H12V0H4V6H2C0.9 6 0 6.9 0 8V20C0 21.1 0.9 22 2 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6Z" />
                    </svg>
                </span>
                <span class="margin-xxl--left-10 display--xl-none"><a href="kontakt">Kontakt</a></span>
            </div>
            <div class="display--xxl-none display--xl-flex">
                <svg class="ham-white" xmlns="http://www.w3.org/2000/svg" width="23" height="8" viewBox="0 0 23 8" fill="none" id="ham" onClick="menu_toggle(true)">
                    <line y1="0.5" x2="23" y2="0.5" />
                    <line y1="7.5" x2="18" y2="7.5" />
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="menu-dropdown display--xxl-none display--xl-flex align-items--xl-center justify-content--xl-end flex--m-column justify-content--m-center" id="dropdown">
    <div class="menu-dropdown-top display--xxl-none display--m-flex align-items-center justify-content-between w--m-100">
        <div class="menu-dropdown-top-left margin-xxl--left-52 flex align-items-center">
            <span class="margin-xxl--right-28">
                <svg class="logo-white" id="logo" width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.8341 8.5037C17.2496 8.5037 19.2104 6.59865 19.2104 4.25185C19.2104 1.90505 17.2496 0 14.8341 0C12.4186 0 10.4578 1.90505 10.4578 4.25185C10.4578 6.59865 12.4186 8.5037 14.8341 8.5037Z"/>
                    <path d="M22.8763 14.5234C19.0684 14.5234 15.5161 16.042 12.9301 18.444C10.3441 20.8736 8.75269 24.1591 8.75269 27.6931C8.75269 31.2271 10.3441 34.5403 12.9301 36.9699C15.5161 39.3995 19.0684 40.9181 22.8763 40.9181C26.6843 40.9181 30.2366 39.3995 32.8226 36.9699C35.4086 34.5403 37 31.2271 37 27.6931C37 24.1591 35.4086 20.8736 32.8226 18.444C30.2366 16.0143 26.7127 14.5234 22.8763 14.5234ZM34.0161 27.6931C34.0161 30.7578 32.7657 33.5739 30.7481 35.617C28.7304 37.6601 25.9455 38.9578 22.8763 38.9854C19.7788 38.9854 16.9939 37.6878 14.9762 35.617C12.9585 33.5739 11.7081 30.7578 11.7081 27.6931C11.7081 24.6561 12.9585 21.8675 14.9762 19.8244C16.9939 17.7814 19.7788 16.4837 22.8763 16.4837C25.9455 16.5113 28.7304 17.7814 30.7481 19.8244C32.7657 21.8399 34.0161 24.6561 34.0161 27.6931Z" />
                    <path d="M4.00691 0.138672H0V41.0006H4.00691V0.138672Z" />
                </svg>
            </span>
            <span>
                <svg class="logo-white" width="116" height="29" viewBox="0 0 116 29" fill="none" xmlns="http://www.w3.org/2000/svg" id="logo2">
                    {# <g clip-path="url(#clip0)"> #}
                        <path d="M58.161 16.4883H64.0047C66.0753 16.4883 67.5017 17.7394 67.5017 19.5268C67.5017 20.8226 66.8115 21.5823 65.6612 22.2078C67.1336 22.9228 68.0079 24.0399 68.0079 25.3804C68.0079 27.3465 66.4434 28.7317 64.2348 28.7317H58.161V16.4883ZM63.6366 21.7163C65.063 21.7163 66.0753 20.912 66.0753 19.7502C66.0753 18.5884 65.063 17.7841 63.6366 17.7841H59.5874V21.7163H63.6366ZM63.8667 27.5253C65.4311 27.5253 66.5815 26.5869 66.5815 25.2464C66.5815 23.9058 65.4772 22.9675 63.8667 22.9675H59.5874V27.5253H63.8667Z" fill="white"/>
                        <path d="M78.2229 19.5273V28.777H76.8425V27.3024C76.2903 28.2854 75.0479 29.0004 73.6675 29.0004C71.5509 29.0004 70.0785 27.5258 70.0785 25.4257V19.5273H71.4589V25.2469C71.4589 26.7662 72.4252 27.7939 73.8516 27.7939C75.4621 27.7939 76.8425 26.7215 76.8425 25.4257V19.5273H78.2229Z" fill="white"/>
                        <path d="M88.806 22.9221V28.8205H87.4256V23.1009C87.4256 21.5816 86.4593 20.5539 85.0329 20.5539C83.4224 20.5539 82.042 21.6263 82.042 22.9221V28.8205H80.6616V19.5262H82.042V21.0007C82.5942 20.0177 83.8365 19.3027 85.217 19.3027C87.2876 19.3474 88.806 20.822 88.806 22.9221Z" fill="white"/>
                        <path d="M98.5148 26.6756L99.389 27.5693C98.5608 28.463 96.8583 28.9992 95.5239 28.9992C92.9472 28.9992 90.6465 26.9884 90.6465 24.1286C90.6465 21.3582 92.8091 19.3027 95.3859 19.3027C98.2847 19.3027 99.9412 21.4029 99.9412 24.6648H92.0729C92.257 26.4522 93.5913 27.7927 95.4779 27.7927C96.6282 27.7927 97.9166 27.3459 98.5148 26.6756ZM92.0729 23.4584H98.5608C98.3767 21.805 97.3645 20.5092 95.4319 20.5092C93.7294 20.5092 92.349 21.671 92.0729 23.4584Z" fill="white"/>
                        <path d="M106.659 28.4196C106.153 28.7771 105.509 29.0005 104.865 29.0005C103.484 29.0005 102.518 28.0174 102.518 26.6322V20.7339H101V19.5275H102.518V16.9805H103.898V19.5275H106.245V20.7339H103.898V26.6322C103.898 27.3025 104.405 27.794 104.957 27.794C105.371 27.794 105.739 27.6153 105.969 27.4366L106.659 28.4196Z" fill="white"/>
                        <path d="M116 23.1458V28.776H114.62V27.3461C113.929 28.4185 112.503 28.9994 111.215 28.9994C109.19 28.9994 107.718 27.8823 107.718 26.0503C107.718 24.2182 109.42 22.9671 111.491 22.9671C112.549 22.9671 113.653 23.1905 114.62 23.5033V23.1458C114.62 21.8947 114.113 20.4648 111.997 20.4648C111.03 20.4648 110.064 20.8669 109.19 21.3138L108.638 20.2413C110.018 19.5711 111.169 19.3477 112.089 19.3477C114.712 19.3477 116 20.9116 116 23.1458ZM114.574 25.8715V24.4416C113.699 24.2182 112.733 24.0842 111.675 24.0842C110.248 24.0842 109.052 24.8885 109.052 25.9609C109.052 27.1227 110.11 27.793 111.445 27.793C112.733 27.8376 114.205 27.2121 114.574 25.8715Z" fill="white"/>
                        <path d="M0.506104 16.4883H1.97854V28.7764H0.506104V16.4883Z" fill="white"/>
                        <path d="M3.81909 27.614L4.55531 26.6309C5.65963 27.3906 6.76395 27.7927 7.82226 27.7927C9.11064 27.7927 9.93889 27.2118 9.93889 26.3628C9.93889 25.3798 8.83456 25.0223 7.50017 24.6648C5.15348 24.0393 4.27923 23.369 4.27923 22.0285C4.27923 20.3305 5.75166 19.3027 7.63821 19.3027C8.83456 19.3027 10.0769 19.7049 11.0892 20.3305L10.399 21.3582C9.43274 20.7773 8.46645 20.4645 7.63821 20.4645C6.5799 20.4645 5.65963 20.9114 5.65963 21.805C5.65963 22.6094 6.34983 22.8775 8.14436 23.4137C9.70882 23.8605 11.2733 24.3967 11.2733 26.1394C11.2733 27.8374 9.75483 28.9098 7.77625 28.9098C6.44186 28.9992 4.96943 28.5077 3.81909 27.614Z" fill="white"/>
                        <path d="M12.9297 16.9796C12.9297 16.5328 13.3438 16.0859 13.85 16.0859C14.3561 16.0859 14.7702 16.4881 14.7702 16.9796C14.7702 17.4711 14.3561 17.8733 13.85 17.8733C13.3438 17.8733 12.9297 17.4265 12.9297 16.9796ZM13.1598 19.5266H14.5402V28.7762H13.1598V19.5266Z" fill="white"/>
                        <path d="M25.8135 16.2656V28.7772H24.4331V27.0345C23.6969 28.241 22.5006 29.0006 20.9361 29.0006C18.4054 29.0006 16.5188 26.9898 16.5188 24.13C16.5188 21.3149 18.4054 19.3041 20.9361 19.3041C22.5006 19.3041 23.6969 20.0191 24.4331 21.2702V16.2656H25.8135ZM24.3871 24.1747C24.3871 22.0299 23.0527 20.5553 21.1662 20.5553C19.2796 20.5553 17.9452 22.0746 17.9452 24.1747C17.9452 26.2749 19.2796 27.8388 21.1662 27.8388C23.0527 27.7941 24.3871 26.2749 24.3871 24.1747Z" fill="white"/>
                        <path d="M27.7461 24.1735C27.7461 21.5372 30.0468 19.3477 32.7155 19.3477C35.3843 19.3477 37.731 21.5372 37.731 24.1735C37.731 26.8099 35.4303 28.9994 32.7616 28.9994C30.0928 28.9994 27.7461 26.7652 27.7461 24.1735ZM36.2586 24.1735C36.2586 22.2074 34.6481 20.5541 32.7616 20.5541C30.829 20.5541 29.2645 22.2074 29.2645 24.1735C29.2645 26.1396 30.875 27.8376 32.7616 27.8376C34.6481 27.793 36.2586 26.1396 36.2586 24.1735Z" fill="white"/>
                        <path d="M44.8171 19.3477V20.5541C42.6545 20.5541 41.09 21.85 41.09 23.6373V28.8207H39.7096V19.5264H41.09V21.3138C41.6422 20.1073 43.0226 19.3477 44.8171 19.3477Z" fill="white"/>
                        <path d="M54.0658 23.1458V28.776H52.6853V27.3461C51.9951 28.4185 50.5687 28.9994 49.2803 28.9994C47.2558 28.9994 45.7833 27.8823 45.7833 26.0503C45.7833 24.2182 47.4858 22.9671 49.5564 22.9671C50.6147 22.9671 51.7191 23.1905 52.6853 23.5033V23.1458C52.6853 21.8947 52.1792 20.4648 50.0626 20.4648C49.0963 20.4648 48.13 20.8669 47.2558 21.3138L46.7036 20.2413C48.084 19.5711 49.2343 19.3477 50.1546 19.3477C52.8234 19.3477 54.0658 20.9116 54.0658 23.1458ZM52.6853 25.8715V24.4416C51.8111 24.2182 50.8448 24.0842 49.7865 24.0842C48.3601 24.0842 47.1637 24.8885 47.1637 25.9609C47.1637 27.1227 48.222 27.793 49.5564 27.793C50.7988 27.8376 52.3172 27.2121 52.6853 25.8715Z" fill="white"/>
                        <path d="M0 0.222656H2.80682C4.23324 0.222656 5.38358 1.11634 5.38358 2.36749C5.38358 3.61865 4.27925 4.51233 2.80682 4.51233H0.782229V6.92528H0V0.222656ZM2.66878 3.79739C3.81912 3.79739 4.55534 3.26118 4.55534 2.36749C4.55534 1.47381 3.81912 0.937602 2.66878 0.937602H0.782229V3.79739H2.66878Z" fill="white"/>
                        <path d="M5.88977 6.25528L6.30389 5.71907C6.90207 6.12123 7.50024 6.34465 8.0524 6.34465C8.74261 6.34465 9.20274 6.03186 9.20274 5.54034C9.20274 5.00413 8.60457 4.82539 7.86835 4.64666C6.62599 4.28918 6.11984 3.93171 6.11984 3.21676C6.11984 2.32308 6.90207 1.74219 7.96038 1.74219C8.60457 1.74219 9.29477 1.96561 9.84693 2.32308L9.47882 2.90397C8.97267 2.59119 8.42051 2.41245 7.96038 2.41245C7.40821 2.41245 6.90207 2.68055 6.90207 3.1274C6.90207 3.57424 7.27017 3.70829 8.23646 4.02108C9.0647 4.28918 9.93896 4.55729 9.93896 5.49565C9.93896 6.43402 9.11071 7.01491 8.00639 7.01491C7.3622 7.01491 6.53396 6.74681 5.88977 6.25528Z" fill="white"/>
                        <path d="M10.8591 0.491525C10.8591 0.223421 11.0892 0 11.3653 0C11.6414 0 11.8714 0.223421 11.8714 0.491525C11.8714 0.75963 11.6414 0.983051 11.3653 0.983051C11.0892 0.983051 10.8591 0.75963 10.8591 0.491525ZM10.9972 1.87673H11.7334V6.88136H10.9972V1.87673Z" fill="white"/>
                        <path d="M17.4392 3.70926V6.92652H16.7029V3.79863C16.7029 2.99431 16.1508 2.41342 15.4146 2.41342C14.5403 2.41342 13.8041 2.99431 13.8041 3.70926V6.92652H13.0679V0.0898438H13.8041V2.68152C14.1262 2.14531 14.7704 1.74316 15.5066 1.74316C16.6569 1.74316 17.4392 2.54747 17.4392 3.70926Z" fill="white"/>
                        <path d="M18.4514 4.37855C18.4514 2.94866 19.6938 1.74219 21.1662 1.74219C22.6386 1.74219 23.881 2.94866 23.881 4.37855C23.881 5.80844 22.6386 7.01491 21.1662 7.01491C19.6938 7.01491 18.4514 5.80844 18.4514 4.37855ZM23.0528 4.37855C23.0528 3.30613 22.1785 2.41245 21.1662 2.41245C20.1079 2.41245 19.2797 3.30613 19.2797 4.37855C19.2797 5.45097 20.1539 6.34465 21.1662 6.34465C22.1785 6.38934 23.0528 5.45097 23.0528 4.37855Z" fill="white"/>
                        <path d="M27.516 6.70328C27.2399 6.9267 26.9178 7.01607 26.5497 7.01607C25.8135 7.01607 25.2613 6.47986 25.2613 5.72023V2.54766H24.4331V1.8774H25.3074V0.492188H26.0436V1.8774H27.332V2.54766H26.0436V5.76491C26.0436 6.12239 26.3197 6.39049 26.5957 6.39049C26.8258 6.39049 27.0099 6.30112 27.1479 6.16707L27.516 6.70328Z" fill="white"/>
                        <path d="M32.3475 5.76376L32.8076 6.25528C32.3475 6.74681 31.4272 7.01491 30.691 7.01491C29.3106 7.01491 28.0222 5.89781 28.0222 4.37855C28.0222 2.85929 29.1726 1.74219 30.599 1.74219C32.1634 1.74219 33.0837 2.90397 33.0837 4.64666H28.8044C28.8965 5.62971 29.6327 6.34465 30.645 6.34465C31.3352 6.38934 32.0254 6.12123 32.3475 5.76376ZM28.8505 4.02108H32.3475C32.2555 3.1274 31.7033 2.41245 30.645 2.41245C29.7247 2.41245 28.9885 3.03803 28.8505 4.02108Z" fill="white"/>
                        <path d="M36.9488 1.74219V2.41245C35.7524 2.41245 34.9242 3.1274 34.9242 4.11045V6.92555H34.188V1.87624H34.9242V2.85929C35.2463 2.18903 35.9825 1.74219 36.9488 1.74219Z" fill="white"/>
                        <path d="M42.0103 3.84234V6.92555H41.2741V6.12123C40.906 6.70213 40.1237 7.01491 39.4335 7.01491C38.3292 7.01491 37.501 6.38934 37.501 5.40629C37.501 4.42324 38.4212 3.75297 39.5716 3.75297C40.1237 3.75297 40.7219 3.88703 41.2741 4.02108V3.84234C41.2741 3.17208 40.998 2.36777 39.8477 2.36777C39.3415 2.36777 38.7894 2.59119 38.3292 2.81461L38.0071 2.23371C38.7433 1.87624 39.3875 1.74219 39.8937 1.74219C41.3201 1.74219 42.0103 2.63587 42.0103 3.84234ZM41.2281 5.31692V4.55729C40.7679 4.42324 40.2158 4.33387 39.6636 4.33387C38.8814 4.33387 38.2372 4.78071 38.2372 5.3616C38.2372 5.98718 38.7894 6.34465 39.5256 6.34465C40.2158 6.38934 41.044 6.03186 41.2281 5.31692Z" fill="white"/>
                        <path d="M48.4062 4.37855C48.4062 5.9425 47.3939 7.01491 46.0135 7.01491C45.1853 7.01491 44.4951 6.61276 44.127 5.9425V8.57886H43.3907V1.87624H44.127V2.81461C44.5411 2.14434 45.1853 1.74219 46.0135 1.74219C47.3939 1.74219 48.4062 2.85929 48.4062 4.37855ZM47.624 4.37855C47.624 3.21676 46.8878 2.41245 45.8755 2.41245C44.8632 2.41245 44.127 3.21676 44.127 4.37855C44.127 5.54034 44.8632 6.34465 45.8755 6.34465C46.8878 6.38934 47.624 5.54034 47.624 4.37855Z" fill="white"/>
                        <path d="M53.4677 5.76376L53.9279 6.25528C53.4677 6.74681 52.5475 7.01491 51.8112 7.01491C50.4308 7.01491 49.1425 5.89781 49.1425 4.37855C49.1425 2.85929 50.2928 1.74219 51.7192 1.74219C53.2837 1.74219 54.2039 2.90397 54.2039 4.64666H49.9247C50.0167 5.62971 50.7529 6.34465 51.7652 6.34465C52.4554 6.38934 53.1456 6.12123 53.4677 5.76376ZM50.0167 4.02108H53.5137C53.4217 3.1274 52.8695 2.41245 51.8112 2.41245C50.891 2.41245 50.1548 3.03803 50.0167 4.02108Z" fill="white"/>
                        <path d="M59.6795 1.87695V6.88158H58.9433V6.07726C58.6212 6.61347 57.977 7.01563 57.2408 7.01563C56.0905 7.01563 55.2622 6.21131 55.2622 5.04953V1.87695H55.9984V4.96016C55.9984 5.76447 56.5506 6.34537 57.2868 6.34537C58.1611 6.34537 58.8973 5.76447 58.8973 5.04953V1.87695H59.6795Z" fill="white"/>
                        <path d="M63.6366 6.70328C63.3605 6.9267 63.0384 7.01607 62.6703 7.01607C61.9341 7.01607 61.3819 6.47986 61.3819 5.72023V2.54766H60.5537V1.8774H61.3819V0.492188H62.1182V1.8774H63.4065V2.54766H62.1182V5.76491C62.1182 6.12239 62.3942 6.39049 62.6703 6.39049C62.9004 6.39049 63.0844 6.30112 63.2225 6.16707L63.6366 6.70328Z" fill="white"/>
                    {# </g> #}
                    <defs>
                        <clipPath id="clip0">
                            <rect width="116" height="29" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

            </span>
        </div>
        <div class="menu-dropdown-top-right margin-xxl--right-52 display--xxl-none display--xl-flex">
            <svg class="text-hover margin-xl--top-24" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg" id="hamclose" onClick="menu_toggle(false)">
                <line x1="0.353553" y1="0.646447" x2="16.617" y2="16.9099" stroke="#60B709"/>
                <line x1="0.646447" y1="15.6464" x2="13.3744" y2="2.91852" stroke="#60B709"/>
            </svg>
        </div>
    </div>
    <div class="menu-dropdown--left flex align-items-center justify-content-end">
        <div class="menu-dropdown--left-links flex--m flex--m-column align-items--m-start">
            <span class="margin-m--bottom-70 font-14 font-white"><a href="o_meni">O meni</a></span>
            <span class="margin-xxl--left-52 margin-xl--left-70 margin-l--left-60 margin-m--left-none margin-m--bottom-70 font-14 font-white"><a href="radionice">Radionica</a></span>
            <span class="margin-xxl--left-52 margin-xl--left-70 margin-l--left-60 margin-m--left-none margin-m--bottom-70 font-14 font-white"><a href="mrsavljenje">Mršavljenje</a></span>
            <span class="margin-xxl--left-52 margin-xl--left-70 margin-l--left-60 margin-m--left-none margin-m--bottom-70 font-14 font-white"><a href="psihoterapija">Psihoterapija</a></span>
            <span class="margin-xxl--left-52 margin-xl--left-70 margin-l--left-60 margin-m--left-none margin-m--bottom-70 font-14 font-white"><a href="video">Video</a></span>
            <span class="margin-xxl--left-52 margin-xl--left-70 margin-l--left-60 margin-m--left-none font-14 font-white"><a href="blog">Blog</a></span>
        </div>
    </div>
    <div class="menu-dropdown--right margin-xl--left-70 margin-l--left-60 margin-xxl--right-52 flex align-items-center justify-content-end w--m-100">
        <div class="menu-dropdown--right-kontakt display--l-flex align-items--l-center display--m-none">
            <span class="flex align-items-center justify-content-end">
                <svg class="logo-white" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg" id="contacticon">
                    <path d="M18 6H8V12H6V4H12V0H4V6H2C0.9 6 0 6.9 0 8V20C0 21.1 0.9 22 2 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6Z" />
                </svg>
            </span>
            <span class="margin-xxl--left-10 font-white font-14"><a href="kontakt">Kontakt</a></span>
        </div>
        <div class="menu-dropdown--right-close display--xxl-none display--xl-flex display--m-none margin-xl--left-40 align-items-start justify-content-start">
            <svg class="text-hover margin-xl--top-24" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg" onClick="menu_toggle(false)">
                <line x1="0.353553" y1="0.646447" x2="16.617" y2="16.9099" stroke="#60B709"/>
                <line x1="0.646447" y1="15.6464" x2="13.3744" y2="2.91852" stroke="#60B709"/>
            </svg>
        </div>
        <div class="menu-dropdown--right-bottom display--xxl-none display--m-flex align-items-m-center justify-content--m-between background-purple-dark">
            <div class="menu-dropdown--right-bottom--social flex align-items-center margin-xxl--right-48 w--m-50 margin-xxl--left-52 ">
                <span class=""><a href=""><img src="./assets/shared/instagram.svg"></a></span>
                <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/facebook.svg"></a></span>
                <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/pinterest.svg"></a></span>
                <span class="margin-xxl--left-24"><a href=""><img src="./assets/shared/linkedin.svg"></a></span>
            </div>
            <div class="menu-dropdown--right-bottom--kontakt w--m-50 flex align-items-center justify-content-end margin-xxl--right-52">
                <span class="flex align-items-center">
                    <svg class="logo-white" width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg" id="contacticon">
                        <path d="M18 6H8V12H6V4H12V0H4V6H2C0.9 6 0 6.9 0 8V20C0 21.1 0.9 22 2 22H18C19.1 22 20 21.1 20 20V8C20 6.9 19.1 6 18 6Z" />
                    </svg>
                </span>
                <span class="margin-xxl--left-10 font-white font-14"><a href="kontakt">Kontakt</a></span>
            </div>
        </div>
    </div>
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

<footer class="footer" id="footer">
    <div class="footer-container" id="footercont">
    <div class="footer-container-top flex flex-column padding-xxl--top-100 padding-xxl--bottom-100 padding-xl--bottom-70">
    <div class="footer-container-top--left-logo flex align-items-center justify-content--l-center margin-xxl--bottom-80 margin-xl--bottom-70 margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70">
        <img style="max-height: 100%;" src="assets/shared/logo-purple.png">
        <img style="max-height: 80%;" class="margin-xxl--left-40" src="assets/shared/logo-purple-long.png">
    </div>
    <div class="flex flex--l-column margin-l--left-24 margin-l--right-24">
        <div class="footer-container-top--left margin-xxl--left-135 margin-xl--left-70 margin-l--left-none margin-xl--right-70 margin-l--right-none w-40 w--l-100">
            <div class="footer-container-top--left-kontakt">
                <div class="margin-xxl--bottom-60 margin-xl--bottom-24">
                    <div class="font--xxl-18 font-purple font-bold margin-xxl--right-48 margin-xl--right-none margin-xxl--bottom-10 text--l-center">Socialne mreze</div>
                    <div class="flex align-items-center justify-content--l-center">
                        <a class="icon-purple flex align-items-center justify-content-start margin-xxl--right-18" href="#"><img src="./assets/shared/instagram_purple.svg"></a>
                        <a class="icon-purple flex align-items-center justify-content-start margin-xxl--right-18" href="#"><img src="./assets/shared/facebook_purple.svg"></a>
                        <a class="icon-purple flex align-items-center justify-content-start margin-xxl--right-18" href="#"><img src="./assets/shared/pinterest_purple.svg"></a>
                        <a class="icon-purple flex align-items-center justify-content-start margin-xxl--right-18 margin-xl--right-none" href="#"><img src="./assets/shared/linkedin_purple.svg"></a>
                    </div>
                </div>
                <div class="font--xxl-18 font-purple font-bold margin-xxl--bottom-10 margin-xl--top-80 text--l-center">Zakazivanje termina</div>
                <div class="flex flex-column">
                    <span class="font--xxl-16 font-purple-light margin-xxl--right-24 margin-xl--right-none text--l-center">Broj telefona</span>
                    <span class="text--l-center"><a class="font--xxl-16 font-purple-light" href="tel:0118789685">011 8789-685</a></span>
                </div>
            </div>
        </div>
        <div class="footer-container-top--right margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70 margin-l--left-none margin-l--right-none w-60 w--l-100">
            <div class="footer-container-top--right-title"></div>
            <form class="footer-container-top--form flex--xl flex--xl-column align-items--l-center">
                <div class="font--xxl-24 font-purple font-bold margin-xxl--bottom-48 margin-l--top-80 text--l-center">Newsletter</div>
                <input class="input-form font--xxl-14 font-purple margin-xxl--bottom-24 w-60  text--l-center" name="email" type="email" placeholder="youremail@gmail.com"/>
                <div class="footer-container-top--form-text font--xxl-16 font-purple margin-xxl--bottom-32 margin-xl--bottom-24 text--l-center">Prijavi se i prvi saznaj sve o najnovijim radionicama, kursevima i poklonima!</div>
                <button class="button-midd"><a class="font-white font--xxl-14" href="#">Pošalji</a></button>
            </form>
        </div>
    </div>
    </div>
    <div class="footer-container-bottom flex flex-column justify-content-center w-100">
        <div class="margin-xxl--left-135 margin-xxl--right-135 margin-xl--left-70 margin-xl--right-70 margin-xxl--top-48 margin-xl--top-32  margin-xxl--bottom-42 margin-xl--bottom-24 w-100 w--xl-auto font-purple font--xxl-18 font-bold text--l-center">Meni</div>
        <div class="flex flex--l-column align-items-center margin-xxl--bottom-48 margin-xl--bottom-32 margin-xxl--left-135 margin-xl--left-70 margin-xl--right-70 w-100 w--xl-auto">
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="o_meni">O meni</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="radionice">Radionica</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="mrsavljenje">Mršavljenje</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="blog">Blog</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="video">Video</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="kontakt">Kontakt</a></span>
            <span class="margin-xxl--right-52 margin-l--right-none margin-l--bottom-24 font-purple--invert font--xxl-14"><a href="psihoterapija">Psihoterapija</a></span>
        </div>
    </div>
    </div>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    {# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> #}
    <script src="./js/typeahead.bundle.min.js"></script> 
    <script src="owl/owl.carousel.min.js"></script>
    <script src="fancybox-master/dist/jquery.fancybox.min.js"></script>
    <script src="aos-master/dist/aos.js"></script>
    <script src="./js/intro.js"></script>
    <script src="./js/mrsavljenje.js"></script>
    <script src="./js/video.js"></script>


    <script>
        var page = "{{ _GET[0] }}";
    </script>
    {# <script src="./js/menu-main.js"></script> #}
    {# <script src="./js/mailer.js"></script> #}

   {# <script>
        
    </script> #}

    <!-- Ovo su novi skriptovi ad ne obrisemo slucajno pri ciscenju djubreta -->
    <script src="./js/menuworks.js"></script>
    <script src="./js/logowork.js"> </script>
    <script src="./js/footerwork.js"> </script>
</body>
</html>
