{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.Blog}}{% endblock %}
{% block content %}

{% set Blog = fetch("Blog") %}
{% set Blog_Tab = fetch("Blog_Tab") %}

<div style="height: 3.75rem;"></div>

<!-- blok1 -->
{% include 'najnoviji_blog.twig' %}
<!-- blok1 -->

<div class="flex flex-column align-items-center logo_purple menu_purple padding-xxl--top-100" id="oldies">
    <!-- blok2 -->
    {% set tip = (_GET['1'])?_GET['1']:'svi-postovi' %}
    <div class="flex flex--m-column justify-content-center margin-xxl--bottom-42"> 
        <a href="blog/svi-postovi#oldies" class="font--xxl-32 font--m-16  font-grey--mid margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-24 {{('svi-postovi' == tip)?'font-blue':''}}">Svi Postovi</a>
        <a href="blog/mrsavljenje#oldies" class="font--xxl-32 font--m-16 font-grey--mid margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-24 {{('mrsavljenje' == tip)?'font-blue':''}}">Mršavljenje</a>
        <a href="blog/psihoterapija#oldies" class="font--xxl-32 font--m-16 font-grey--mid margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-24 {{('psihoterapija' == tip)?'font-blue':''}}">Radionica</a>
        {# {% for tab in Blog_Tab %} #}
        <a href="blog/razno#oldies" class="font--xxl-32 font--m-16 font-grey--mid margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-24 {{('razno' == tip)?'font-blue':''}}">{{Blog_Tab.Razno}}</a>
        {# {% endfor %} #}
    </div>
    <!-- blok2 -->

    <!-- all posts -->
    <div class="flex flex-wrap padding-xxl--left-180 padding-xl--left-none padding-xxl--right-180 padding-xl--right-none justify-content-center">
        {% for item in Blog %}
        {% if item.Istaknut == 'false' and ((item.Mrsavljenje == 'true' and tip == 'mrsavljenje') or (item.Psihoterapija == 'true' and tip == 'psihoterapija') or (item.Razno == 'true' and tip == 'razno') or tip == 'svi-postovi') %}
        <div class="blog-post flex flex-column justify-content-between margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-48">
            <div class="flex flex--640-column">
                <div class="blog-post-width flex flex-column margin-xxl--right-20">
                    <div class="blog-post-image" style="background-image: url('img/{{item.Slika}}')"></div>
                    <div class="flex flex-column padding-xxl--left-40 padding-left--640-20">
                        <div class="font--xxl-22 font-bold margin-xxl--top-20">{{item.Naslov}}</div>
                        <div class="blog-post-line margin-xxl--top-20"></div>
                    </div>
                </div>
                <div class="flex-1 blog-post-text font--xxl-16 margin-xxl--right-20 margin-xxl--left-20 margin-xxl--top-20 margin-xxl--bottom-20">{{item.Opis}}</div>
            </div>
            <div class="flex justify-content--640-between padding-left--640-20 padding-xxl--left-40 padding-right--640-20">
                <div class="blog-post-share flex-column">
                    <div class="blog-post-width-2 blog-post-text font--xxl-16 margin-xxl--top-20 margin-xxl--bottom-40">Podeli</div>
                    <div class="op flex align-items-center justify-content-center logo_purple menu_purple">
                        <a href="http://www.facebook.com/sharer/sharer.php?u={{_BASE | url_encode}}prost%2F{{item.Slug | url_encode}}" target="_blank">
                            <img class="margin-xxl--left-24 margin-xxl--right-24" src="./assets/shared/icon-facebook.png">
                        </a>
                        <a href="https://twitter.com/share?url={{item.Slug | url_encode}}&amp;url={{_BASE | url_encode}}prost%2F{{item.Slug | url_encode}}" target="_blank">
                            <img class="margin-xxl--right-24" src="./assets/shared/icon-twitter.png">
                        </a>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{item.Slug | url_encode}}&amp;url={{_BASE | url_encode}}prost%2F{{item.Slug | url_encode}}" target="_blank">
                            <img class="margin-xxl--right-24" src="./assets/shared/icon-linkedin.png">
                        </a>
                    </div>
                </div>
                <a href="post/{{item.Slug}}" class="blog-post-text font--xxl-16  margin-xxl--top-20 margin-xxl--bottom-40">Saznaj više</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- all posts -->

{% endblock %}
