{% extends "base.twig" %}
{% block content %}



<!-- blok1 -->
<div id="upoznaj_sebe" class="upoznaj_sebe">
{% set Home_Page_Intro = fetch("Home_Page_Intro") %}
    {% for item in Home_Page_Intro %}
    <div id="upoznaj_sebe1" class="mySlides flex flex-direction-reverse flex--l-direction">
        <div class="upoznaj_sebe-right">
            <div class="upoznaj_sebe-right-1">
                <div class="upoznaj_sebe-right-1-2">
                    <div class="upoznaj_sebe-right-1-2-image" 
                        style="background-image: url('img/{{item.Slika}}')">
                        <div class="upoznaj_sebe-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="upoznaj_sebe-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="upoznaj_sebe-left-all">
                <div class="font--xxl-62 font--xl-46 font--xs-36 font-purple font-bold">{{item.NaslovBold}} </div>
                <div class="font--xxl-62 font--xl-46 font--xs-36 font-purple margin-xxl--bottom-42 margin-s--bottom-32">{{item.Naslov}}</div>
                <div class="upoznaj_sebe-left-all-text padding-xxl--left-25 font--xxl-16 font-purple margin-xxl--bottom-77 margin-m--bottom-46 margin-s--bottom-32">{{item.Text}}</div>
                <button class="button-midd font-white font--xxl-14 background-purple">SAZNAJ VIŠE</button>
            </div>
        </div>
        <div class="upoznaj_sebe-hide"></div>
    </div>
    {% endfor %}

    <div class="upoznaj_sebe-buttons flex margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
        <div class="font--xxl-14 font-purple margin-xxl--right-30 cursor-pointer" onclick="plusDivs(-1)">Prethodna</div>
        <div class="font--xxl-14 font-purple cursor-pointer" onclick="plusDivs(1)">Sledeća</div>
    </div>
</div>
<!-- blok1 -->

<!-- blok2 -->
<div id="blizak_odnos" class="blizak-odnos flex flex--l-direction">
    <div class="blizak-odnos-left">
        <div class="blizak-odnos-left-image-1"><img src="./assets/images/home-blok2-1.png"></div>
        <div class="blizak-odnos-left-image-2"><img src="./assets/images/home-blok2-2.png"></div>
        <div class="blizak-odnos-left-image-3"><img src="./assets/images/home-blok2-3.png"></div> 
    </div>
    <div class="blizak-odnos-right flex flex-column justify-content-center">
    <img class="blizak-odnos-right-line" src="./assets/images/linija.png">
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white flex flex--s-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Blizak odnos&nbsp</p> je lekovit</div>
            <div class="blizak-odnos-right-border font--xxl-14 font-white margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Lorem Ipsum is simply dummy text of the printing</div>
            <div class="blizak-odnos-right-text">
                <div class="font--xxl-14 font-white margin-xxl--bottom-24 margin-xl--bottom-18">Ja sam Isidora Buneta, živim i radim u Beogradu. Psiholog-psihoterapeut, poznavalac zdravog načina ishrane, treninga, života. Verujem da trajnom rešavanje problema možemo postići samo ako problemu pristupimo kako iz glave tako i iz tela.</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-32 margin-xl--bottom-24">Kroz prihoterapijski odnos pomažem ljudima da napuste obrasce koji nisu njihovi i da žive u skladu sa sobom. Uspela sam trajno da smršam 42kg. Rešila sam psihološke uzroke prejedanja i mnogo lakše promenila način ishrane.</div>
            </div>
            <a href="o_meni">
                <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">SAZNAJ VIŠE</button>
            </a>
        </div>
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-l--top-24 margin-l--bottom-50">
            <div class="font--xxl-24 font-bold font-italic font-white margin-xxl--bottom-32 margin-xl--bottom-24">Šta su o meni rekli</div>
            <div class="owl-carousel owl-theme owl-loaded">
                {% set Testimonial = fetch("Testimonial") %}
                {% for item in Testimonial %}
                    <div>
                        <div class="font-italic font-bold font--xxl-16 font-white margin-xxl--bottom-10">{{item.ImePrezime}}</div>
                        <div class="blizak-odnos-right-testimonial-text font-italic font--xxl-16 font-white">{{item.Text}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok2 -->

<!-- blok3 -->
<div id="stari_nacin" class="blok">
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('./assets/images/home-blok3.jpg')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold">Na stari način</div>
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">nema novih rešenja</div>
                <div class="blok-all-left-all-text padding-xxl--left-25 font--xxl-14 font-purple margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32 padding-xxl--left-15">Trajno rešavanje prekomerne kilaže možete postići samo ako odklonite uzrok zašto se prejedate. Potrebno je stvarati zdravije navike a ne drzati dijetu. Sta god ste u svom zivotu drzali ono je bilo tu samo dok ga drzite. Isto je i sa dijetom. Dijetom resavamo samo trenutno posledicu. 15 godina sam pokusavla da smrsam, uskracivala sebi hranu i na kraju sam dosla do 110kg. Kao da sam bila na rezimu koji me je gojio.</div>
                <a href="mrsavljenje" class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <button class="button-big font-white font--xxl-14 background-purple">ZAKAŽI SVOJ TERMIN</button>
            </div>
        </div>
        <div class="blok-all-hide"></div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
<div id="odnos_je_taj" class="blok4 flex flex-column align-items-center justify-content-center">
    <div class="blok4-top flex align-items-center justify-content-center">
        <div class="blok4-top-all flex flex-column align-items-center align-items--l-start justify-content-center margin-m--left-57 margin-xs--left-23">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white text-center text--l-left flex flex--m-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Odnos je taj&nbsp</p> koji leči</div>
            <div class="blok4-top-all-line margin-xxl--bottom-10"></div>
            <div class="font-white font--xxl-16 text-center text--l-left margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
            <div class="font-white font--xxl-14 text-center text--l-left margin-xxl--bottom-32 margin-xl--bottom-24">Psihoterapija je terapija resavanje problema putem govora. Najbitniji je poverenje i odnos u kome se osoba oseca slobodno da zajedno sa terapeutom istazi i upozna sebe. Bez osudjivanja i lepljenja etiketa. Atmosfera u kojoj je bezbedno biti svoj. Ljudi najcesce veruju da nisu dobri i prikrivaju svoje mena. Psihoterapeut bez moralisanja i osudjivanja upoznaju klijenta. Pomocu psihoterapije mozete postati postati dobri kako niste ni sanjali da mozete biti.</div>
            <div class="flex flex--xs-column">
                <a href="#">
                    <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--right-24 margin-xs--bottom-24">ZAKAŽI SVOJ TERMIN</button>
                </a>
                <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">VIDEO</button>
                </a>
            </div>
        </div>
    </div>
    <div class="blok4-hide"></div>
</div>
<!-- blok4 -->

<!-- blok5 -->
<div id="stari_nacin" class="blok">
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('./assets/images/home-blok2-mobile.jpg')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok-all-left-all flex flex-column">
            {% set Radionica = fetch("Radionica") %}
            {% for item in Radionica %}
            {% if item.Oznaci == 'true' %}
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Radionica</div>
                <div class="blok-all-left-all-text flex padding-xxl--left-25 margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">
                    <img src="./assets/shared/date.png" >
                    <p class="font--xxl-14 font-bold font-purple">{{item.Datum|date("d/m/Y")}} &nbsp</p>
                    <p class="font--xxl-14 font-purple"> {{item.Vreme}}</p>
                </div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                <a class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <button class="button-big font-white font--xxl-14 background-purple">ZAKAŽI SVOJ TERMIN</button>
            {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="blok-all-hide-2"></div>
    </div>
</div>
<!-- blok5 -->

<!-- blok6 -->
{% include 'najnoviji_blog.twig' %}
<!-- blok6 -->

<!-- blok7 -->
{% include 'poslednji_postovi.twig' %}
<!-- blok7 -->

<!-- blok8 -->
{% include 'pozovi_nas.twig' %}
<!-- blok8 -->

{% endblock %}
