{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.Home}}{% endblock %}
{% block content %}

<div class="preloader">
	<span data-aos="zoom-in"
        data-aos-duration="1800" 
        id="preloader" 
        class="preloader-gif font--xxl-24 font--m-16 font--xs-14 font-white text-center" 
        style="font-style: italic"
    >
		„Drveće koje sporo raste daje najbolje voće.”  <br><br> 
        
        – Molijer –
	</span>	
</div>
<!--
<script>
if (sessionStorage.getItem('bijah')) document.getElementById('preloader').style.display="none"
</script>-->

<nav id="cd-vertical-nav" class="vertical_nav">
		<ul style="list-style-type: none;">
			<li>
				<a href="#section1" data-number="1" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Intro</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
			<li>
				<a href="#section2" data-number="2" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Profesionalni pristup</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
			<li>
				<a href="#section3" data-number="3" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Na stari način</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
			<li>
				<a href="#section4" data-number="4" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Odnos je taj koji leči</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
			<li>
				<a href="#section5" data-number="5" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Radionica</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
            <li>
				<a href="#section6" data-number="6" class="vertical_nav-all flex justify-content-end align-items-center margin-xxl--bottom-20">
					<span class="label cd-label">Blog</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
            <li>
				<a href="#section7" data-number="7" class="vertical_nav-all flex justify-content-end align-items-center">
					<span class="label cd-label">Započni promenu</span>
                    <span class="dot cd-dot"></span>
				</a>
			</li>
		</ul>
	</nav>

<!-- blok1 -->
<div id="section1" class="cd-section upoznaj_sebe logo_purple menu_white" style="padding-top: 3.71rem;">
<a href="#section2" class="cd-scroll-down cd-img-replace upoznaj_sebe-scroll flex align-items-center">
    <div class="font--xxl-14 font-white margin-xxl--right-20">Skroluj dole</div>
    <div class="upoznaj_sebe-scroll-line"></div>
</a>
{% set Home_Page_Intro = fetch("Home_Page_Intro") %}
    <div id="owl-3" class="owl-carousel owl-theme owl-loaded" style="width:100%; height:100%;">
            {% for item in Home_Page_Intro %}
                <div  class=" flex flex-direction-reverse flex--l-direction" style="width:100%; height:100%;">
                    <div class="upoznaj_sebe-right">
                        <div class="upoznaj_sebe-right-1">
                            <div class="upoznaj_sebe-right-1-2">
                                <div class="upoznaj_sebe-right-1-2-image"
                                    style="background-image: url('img/{{item.Slika}}')">
                                    <div class="upoznaj_sebe-right-1-2-image-gr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="upoznaj_sebe-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23 margin-l--bottom-100">
                        <div class="upoznaj_sebe-left-all" style="width: 100%;">
                            <div class="font--xxl-62 font--xl-46 font--xs-36 font-purple font-bold">{{item.NaslovBold}} </div>
                            <div class="font--xxl-62 font--xl-46 font--xs-36 font-purple margin-xxl--bottom-42 margin-s--bottom-32">{{item.Naslov}}</div>
                            <div style="width:65%;" class="upoznaj_sebe-left-all-text padding-xxl--left-25 padding-xxl--right-18 font--xxl-16 font-purple margin-xxl--bottom-77 margin-l--bottom-50 margin-m--bottom-46 margin-s--bottom-32">{{item.Text}}</div>
                            {% if loop.index0 > 0 %}
                            <a href="{{item.Href}}">
                                <button class="button-midd font-white font--xxl-14 background-purple">{{ item.CTA }}</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<!-- blok1 -->

<!-- blok2 -->
<div id="section2" class="cd-section blizak-odnos flex flex--l-direction logo_white menu_white" style="padding-top: 3.71rem;">

    <div class="blizak-odnos-left">
        <div class="blizak-odnos-left-image-1"><img src="./assets/images/home-blok2-1.png"></div>
        <div class="blizak-odnos-left-image-2"><img src="./assets/images/home-blok2-2.png"></div>
        <div class="blizak-odnos-left-image-3"><img src="./assets/images/home-blok2-3.png"></div>
    </div>

    <div class="blizak-odnos-right flex flex-column justify-content-center padding-xxl--bottom-24">
    <img class="blizak-odnos-right-line" src="./assets/images/linija.png">
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white flex flex-column margin-xxl--bottom-32 margin-xl--bottom-24">
                <span class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Profesionalni pristup</span> 
                <span class="font--xxl-46 font--xl-42 font--xs-36 font-white">i lično iskustvo.</span>
            </div>
            <div class="blizak-odnos-right-border font--xxl-14 font-white margin-xxl--bottom-32 margin-xl--bottom-24 padding-xxl--left-24 flex align-items-center">Uspeh dolazi zajedničkim radom.</div>
            <div class="blizak-odnos-right-text">
                <div class="font--xxl-14 font-white margin-xxl--bottom-24 margin-xl--bottom-18">
                    Ja sam Isidora Buneta, živim i radim u Beogradu. Psiholog-psihoterapeut,
                    poznavalac zdravog načina ishrane, treninga i života. Osnova mog rada sa
                    klijentima je dobar odnos, pun saosećanja i razumevanja. Kroz takav odnos
                    postizanje trajnog rešavanja problema je moguće, ali neophodno je
                    posvetiti se podjednako i telu i glavi.
                </div>
            </div>
            <a href="o_meni">
                <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--bottom-32 margin-xl--bottom-24">SAZNAJ VIŠE</button>
            </a>
        </div>
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-l--top-24 margin-l--bottom-50">
            <div class="font--xxl-24 font-bold font-italic font-white margin-xxl--bottom-32 margin-xl--bottom-24">Šta su o meni rekli</div>
            <div id="owl-one" class="owl-carousel owl-theme owl-loaded">
                {% set Testimonial = fetch("Testimonial") %}
                {% for item in Testimonial %}
                    <div>
                        <div class="font-italic font-bold font--xxl-16 font-white margin-xxl--bottom-10">{{item.ImePrezime}}</div>
                        <div class="blizak-odnos-right-testimonial-text font-italic font--xxl-16 font-white">{{item.Text}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok2 -->

<!-- blok3 -->
{% set HOMEPAGE_ODELJAK_3 = fetch("HOMEPAGE_ODELJAK_3") %}

<div id="section3" class="cd-section blok logo_purple menu_purple">
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('./assets/images/home-blok3.jpg')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-l--bottom-50">
            <div class="blok-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold">{{HOMEPAGE_ODELJAK_3.Naslov_bold}}</div>
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">{{HOMEPAGE_ODELJAK_3.MotivacioniText}}</div>
                <div class="blok-all-left-all-text padding-xxl--left-25 font--xxl-14 font-purple margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">{{HOMEPAGE_ODELJAK_3.MotivacioniText}}</div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32 padding-xxl--left-15">
                    {{HOMEPAGE_ODELJAK_3.Text}}
                </div>
                <a href="mrsavljenje" class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                {% set Radionica = fetch("Radionica") %}
                {% for item in Radionica %}
                {% if item.Oznaci == 'true' %}
                <a href="radionica/{{item.Slug}}#zakazi">
                    <button class="button-big font-white font--xxl-14">ZAKAŽI SVOJ TERMIN</button>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
<div id="section4" class="cd-section home-blok4 flex flex-column align-items-center justify-content-center logo_white menu_white">
    <div class="home-blok4-top flex align-items-center justify-content-center">
        <div class="home-blok4-top-all flex flex-column align-items-center display-l-none justify-content-center">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white text-center text--l-left flex flex--m-column margin-xxl--bottom-32 margin-xl--bottom-24"><span class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Odnos je taj&nbsp</span> koji leči.</div>
            <div class="home-blok4-top-all-line margin-xxl--bottom-10"></div>
            <div class="font-white font--xxl-16 text-center text--l-left margin-xxl--bottom-42 margin-xl--bottom-32">
                Podrška je ključna u stvaranju pozitivne slike o sebi.
            </div>
            <div class="font-white font--xxl-14 text-center text--l-left margin-xxl--bottom-32 margin-xl--bottom-24">
                Psihoterapija je intiman proces u kojem kao terapeut pomažem da zajedno
                rasvetlimo tvoj problem i da konačno počneš da živiš svoj autentični život.
                Kroz individualne i grupne terapije, radionice, kao i online konsultacije
                spoznaćeš svoje barijere koje te sprečavaju da živiš život bez strahova.
                Pitanje nije samo šta nam se dešava, već i zašto. Psihoterapija pomaže da
                dođeš do pravih odgovora.
            </div>
            <div class="flex flex--xs-column">
                <a href="kontakt">
                    <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--right-24 margin-xs--bottom-24">ZAKAŽI SVOJ TERMIN</button>
                </a>
                <a data-fancybox  href="https://www.youtube.com/">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">VIDEO</button>
                </a>
            </div>
        </div>
    </div>
    <div class="home-blok4-hide margin-l--bottom-50">
        <div class="home-blok4-top-all flex flex-column align-items-center align-items--l-start justify-content-center margin-l--left-60 margin-m--left-57 margin-xs--left-23">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white text-center text--l-left flex flex--m-column margin-xxl--bottom-32 margin-xl--bottom-24"><span class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Odnos je taj&nbsp</span> koji leči</div>
            <div class="home-blok4-top-all-line margin-xxl--bottom-10"></div>
            <div class="font-white font--xxl-16 text-center text--l-left margin-xxl--bottom-42 margin-xl--bottom-32">
                Podrška je ključna u stvaranju pozitivne slike o sebi
            </div>
            <div class="font-white font--xxl-14 text-center text--l-left margin-xxl--bottom-32 margin-xl--bottom-24">
                Psihoterapija je intiman proces u kojem kao terapeut pomažem da zajedno rasvetlimo vaš problem i da konačno počnete da živite svoj 
                autentični život. Kroz individualne i grupne terapije, radionice, kao i online konsultacije spoznaćete svoje barijere koje vas sprečavaju 
                da živite život bez strahova. Pitanje nije samo šta nam se dešava, već i zašto. Psihoterapija pomaže da dođete do pravih odgovora.
            </div>
            <div class="flex flex--xs-column">
                <a href="kontakt">
                    <button class="button-big font-white font--xxl-14 background-purple-darker margin-xxl--right-24 margin-xs--bottom-24">ZAKAŽI SVOJ TERMIN</button>
                </a>
                <a data-fancybox  href="https://www.youtube.com/embed/2vb3tAajXIM">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">VIDEO</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- blok4 -->

<!-- blok5 -->
<div id="section5" class="cd-section blok logo_purple menu_purple">
{% set Radionica = fetch("Radionica") %}
{% for item in Radionica %}
{% if item.Oznaci == 'true' %}
    <div class="blok-all flex flex-direction-reverse flex--l-direction">
        <div class="blok-all-right">
            <div class="blok-all-right-1">
                <div class="blok-all-right-1-2">
                    <div class="blok-all-right-1-2-image" style="background-image: url('img/{{item.Slika}}')">
                        <div class="blok-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Naziv}}</div>
                <div class="blok-all-left-all-text flex padding-xxl--left-25 margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">
                    <img src="./assets/shared/date.png" >
                    <span class="font--xxl-14 font-bold font-purple">{{item.Datum|date("d/m/Y")}} &nbsp</span>
                    <span class="font--xxl-14 font-purple"> {{item.Vreme}}</span>
                </div>
                <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                <a href="radionica/{{item.Slug}}" class="font-italic font-bold font--xxl-14 font-purple margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                <a href="radionica/{{item.Slug}}#zakazi">
                    <button class="button-big font-white font--xxl-14">PRIJAVI SE</button>
                </a>
            
            </div>
        </div>
        <div class="blok-all-hide margin-l--bottom-50"></div>
    </div>
{% endif %}
{% endfor %}
</div>
<!-- blok5 -->

<!-- blok6 -->
{% include 'najnoviji_blog.twig' %}
<!-- blok6 -->

<!-- blok7 -->
{% include 'poslednji_postovi.twig' %}
<!-- blok7 -->

<!-- blok8 -->
{% include 'pozovi_nas.twig' %}
<!-- blok8 -->
{% include 'footer.twig' %}
{% endblock %}
