{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.Mrsavljenje}}{% endblock %}
{% block content %}

<!-- blok1 -->
<div class="blok1 blok1-a">
    <div class="blok1-1">
        <div class="blok1-1-2">
            <div class="blok1-1-2-3">
                <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">Na stari način</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">nema novih rešenja</div>
                    <div class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Pobedite lako uz proveren i siguran metod baziran na ličnom iskustvu</div>
                    <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Nije cilj „samo” smršati. Cilj je trajni gubitak prekomernih kilograma promenom navika u ishrani i otkrivanjem šta je zapravo gladno u nama. Dijeta je sredstvo kontrole unosa namirnica, ali ona se ne bavi psihološkim uzročnicima same potrebe za prejedanjem. Uporedo sa dijetom potrebno je baviti se i impulsima u nama, prepoznati mehanizme koji dovode do toga da se kontrola gubi, što rezultira ponovnim gojenjem i gubitkom vere u mogućnost trajnog rešavanja problema sa kilogramima.</div>
                    {# <a class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a> #}
                    <a href="kontakt">
                        <button class="button-big font-white font--xxl-14 background-purple-dark">ZAKAŽI SVOJ TERMIN</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide"></div>
<!-- blok1 -->

<!-- blok2 -->
<div class="blok2 flex flex-column align-items-center justify-content-center padding-l--top-100 padding-m--top-70 padding-l--bottom-100 padding-xs--left-23 padding-xs--right-23 logo_white menu_white" id="section2">
    <div class="flex flex--m-column align-items-center margin-xxl--bottom-32 margin-xl--bottom-24">
        <p class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">9 od 10 dijeta&nbsp</p>
        <p class="font--xxl-46 font--xl-42 font--xs-36 font-white">ne uspeva</p>
    </div>
    <div class="blok2-line margin-xxl--bottom-10"></div>
    <div class="font--xxl-16 font-white text-center margin-xxl--bottom-42 margin-xl--bottom-32">Dijete se bave posledicama, a ne uzrocima.</div>
    <div class="blok2-width font--xxl-16 font-white text-center">Zašto 9 od 10 dijeta ne uspeva, bilo da je u pitanju paleo, keto, ili bilo koja druga dijeta? Zašto spoljašnje promene nisutrajne? Zato što je unutrašnjost ostala netaknuta. Zato što željeni rezultat neće doći samo promenom hrane koju jedemo, potrebno je korigovati način na koji konzumiramo život. Dijete će omogućiti samo kratkotrajnu vitku liniju i prividno poboljšanje zdravlja. Trajne promene moguće su samo uz pronalaženje samog korena problema i uzroka koji dovode do narušavanja zdravlja i do gojaznosti.</div>
</div>
<!-- blok2 -->

<!-- blok3 -->
<div class="blok3 flex flex--l-column logo_purple menu_purple" id="section3">
    <div class="blok3-left">
        <div class="blok3-left-1">
            <div class="blok3-left-1-image"></div>
        </div>
    </div>
    <div class="blok3-right flex align-items-center">
        <div class="blok3-right-all flex flex-column margin-xs--left-23 margin-l--bottom-50">
            <div class="font--xxl-36 font-purple font-bold">Koliko ljudi znate</div>
            <div class="font--xxl-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">da pričaju o dijeti?</div>
            <div class="blok3-right-all-line font--xxl-14 font-purple margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32 padding-xxl--left-25">A koliko njih koji su trajno smršali?</div>
            <div class="font--xxl-14 font-purple margin-xxl--bottom-24">Veoma mali broj ljudi, zar ne? Šta je to što toliko nedostaje dijetama? Da li su one stvarno toliko neefikasne ili jednostavno nisu dovoljne? Tugu, osećaj praznine, depresiju, nezadovoljstvo, samoću ne možemo rešiti kratkoročnim ustručavanjem od nama omiljenih namirnica. Potrebno je suočiti se sa samim sobom i svojim problemima. U tome  će vam pomoći psihoterapeut koji se i sam izborio sa svojim unutrašnjim nemirima i strahovima.</div>
            <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">Još jedan razlog zašto ljudi trajno ne rešavaju problem prekomernih kilograma jeste moderan način života. Naučeni smo da stvari radimo na lakši i brži način. Naučeni smo da stvari radimo na lakši i brži način. Međutim, to ne važi kod fizičkih promena na čovekovom telu. Nema prečice kojom se dolazi do gojaznosti, pa nema ni iste nazad. Put je dug. Iz ličnog iskustva znam kakve prepreke vas očekuju na tom putu, ali i da je krajnji cilj moguć. Prvi korak je na vama, ostatak puta proći ćemo zajedno.</div>
        </div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
{% set IsidorinPrimer = fetch("IsidorinPrimer") %}
<div id="owl4" class="testimonial owl-carousel owl-theme owl-loaded blok4 background-purple logo_white menu_white"> <!--  id="section4" obrisan! -->
    <!-- psihoterapija -->
    {% for item in IsidorinPrimer %}
    <div id="psihoterapija" class="blok4-all flex-direction-reverse flex--l-direction">
        <div class="blok4-all-right">
            <div class="blok4-all-right-1">
                <div class="blok4-all-right-1-2">
                    <div class="blok4-all-right-1-2-image" style="background-image: url('img/{{item.Slika}}')">
                        <div class="blok4-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok4-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok4-all-left-all flex flex-column">
                <div class="flex">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Isidorin&nbsp</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">primer</div>
                </div>
                <div class="flex align-items-center margin-xxl--bottom-42 margin-xl--bottom-32">
                    <div class="font-white font--xxl-36 font-bold padding-xxl--right-10">{{item.Broj}}</div>
                    <div class="text font--xxl-14 font-green padding-xxl--left-10">{{item.Naslov}}</div>
                </div>
                <div style="white-space: pre-wrap;" class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                <div class="margin-xxl--bottom-42 flex flex--xs-column">
                    <a href="{{item.Btn1}}">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--right-10 margin-xs--right-none margin-xs--bottom-10">RADIONICA</button>
                    </a>
                    <a href="{{item.Btn2}}">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker">INDIVIDUALNA</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- blok4 -->

<!-- blok5 -->
{% set Radionica = fetch("Radionica") %}
{% for item in Radionica %}
{% if item.Oznaci == 'true' %}
<div class="blok1 logo_white" style="background-image: url('img/{{item.Slika}}')" id="section5">
    <div class="blok1-b">
        <div class="blok1-1">
            <div class="blok1-1-2">
                <div class="blok1-1-2-3">
                    <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Naziv}}</div>
                        <div class="blok1-1-2-3-all-text flex padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">
                            <img src="./assets/shared/date.png" >
                            <p class="font--xxl-14 font-bold font-white">{{item.Datum|date("d.m.Y")}} &nbsp</p>
                            <p class="font--xxl-14 font-white"> {{item.Vreme}}</p>
                        </div>
                        <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                        <a href="radionica/{{item.Slug}}" class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                        <a href="radionica/{{item.Slug}}#zakazi">
                            <button class="button-big font-white font--xxl-14 background-purple-dark">PRIJAVI SE NA RADIONICU</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide"></div>
{% endif %}

{% endfor %}


<!-- blok5 -->

<!-- blok6 -->
{% include 'testimonial.twig' %}
<!-- blok6 -->

<!-- blok7 -->
{% include 'radionica_3.twig' %}
<!-- blok7 -->

<!-- blok8 -->
{% include 'najnoviji_blog.twig' %}
<!-- blok8 -->

<!-- blok9 -->
{% include 'poslednji_postovi.twig' %}
<!-- blok9 -->
{% include 'footer.twig' %}

<script src="./js/in-view.min.js"></script>
<script>
inView('#owl4')
    .on('enter', function(){
        console.log('usao in view')
         $(owl4).trigger('to.owl.carousel', 0)
    })
// autoplayHoverPause:true - na hover se slajd zaustavlja
</script>

{% endblock %}
