{% extends "base.twig" %}
{% block content %}

<!-- blok1 -->
<div class="blok1 blok1-a">
    <div class="blok1-1">
        <div class="blok1-1-2">
            <div class="blok1-1-2-3">
                <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">Na stari način</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">nema novih rešenja</div>
                    <div class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
                    <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Trajno rešavanje prekomerne kilaže možete postići samo ako odklonite uzrok zašto se prejedate. Potrebno je stvarati zdravije navike a ne drzati dijetu. Sta god ste u svom zivotu drzali ono je bilo tu samo dok ga drzite. Isto je i sa dijetom. Dijetom resavamo samo trenutno posledicu. 15 godina sam pokusavla da smrsam, uskracivala sebi hranu i na kraju sam dosla do 110kg. Kao da sam bila na rezimu koji me je gojio.</div>
                    {# <a class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a> #}
                    <a href="kontakt">
                        <button class="button-big font-white font--xxl-14 background-purple-dark">ZAKAŽI SVOJ TERMIN</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide"></div>
<!-- blok1 -->

<!-- blok2 -->
<div class="blok2 flex flex-column align-items-center justify-content-center padding-l--top-100 padding-m--top-70 padding-l--bottom-100 padding-xs--left-23 padding-xs--right-23 logo_white menu_white" id="section2">
    <div class="flex flex--m-column align-items-center margin-xxl--bottom-32 margin-xl--bottom-24">
        <p class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">9 od 10 dijeta&nbsp</p>
        <p class="font--xxl-46 font--xl-42 font--xs-36 font-white">nisu uspešne</p>
    </div>
    <div class="blok2-line margin-xxl--bottom-10"></div>
    <div class="font--xxl-16 font-white text-center margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing</div>
    <div class="blok2-width font--xxl-16 font-white text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
</div>
<!-- blok2 -->

<!-- blok3 -->
<div class="blok3 flex flex--l-column logo_purple menu_purple" id="section3">
    <div class="blok3-left">
        <div class="blok3-left-1">
            <div class="blok3-left-1-image"></div>
        </div>
    </div>
    <div class="blok3-right flex align-items-center">
        <div class="blok3-right-all flex flex-column margin-xs--left-23 margin-l--bottom-50">
            <div class="font--xxl-36 font-purple font-bold">Koliko ljudi znate</div>
            <div class="font--xxl-36 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">da pričaju o dijeti</div>
            <div class="blok3-right-all-line font--xxl-14 font-purple margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32 padding-xxl--left-25">Lorem Ipsum is simply dummy text of the printing</div>
            <div class="font--xxl-14 font-purple margin-xxl--bottom-24">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the...</div>
            <div class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the...</div>
        </div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
<div class="blok4 background-purple logo_white menu_white" id="section4">
    <!-- psihoterapija -->
    <div id="psihoterapija" class="blok4-all flex-direction-reverse flex--l-direction">
        <div class="blok4-all-right">
            <div class="blok4-all-right-1">
                <div class="blok4-all-right-1-2">
                    <div class="blok4-all-right-1-2-image" style="background-image: url('assets/images/mrsavljenje-blok3-1.jpg')">
                        <div class="blok4-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok4-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok4-all-left-all flex flex-column">
                <div class="flex">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Isidorin&nbsp</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">primer</div>
                </div>
                <div class="blok4-all-left-all-text font--xxl-14 font-white flex padding-xxl--left-25 margin-xxl--bottom-42 margin-xl--bottom-32">Text</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. - s</div>
                <div class="margin-xxl--bottom-42 flex flex--xs-column">
                    <a href="radionice">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--right-10 margin-xs--right-none margin-xs--bottom-10">RADIONICA</button>
                    </a>
                    <a href="kontakt">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker">INDIVIDUALNA</button>
                    </a>
                </div>
                <div class="position flex flex--xs-column">
                    <div class="position-1 flex align-items-center cursor-pointer" onClick="Blok1()">
                        <div class="font-white font--xxl-36 font-bold padding-xxl--right-10">01</div>
                        <div class="text font--xxl-12 font-green padding-xxl--left-10">Šta je Psihoterapija</div>
                    </div>
                    <div class="position-2 flex align-items-center cursor-pointer" onClick="Blok2()">
                        <div class="opacity font--xxl-36 font-white font-bold padding-xxl--right-10">02</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Cilj</div>
                    </div>
                    <div class="position-3 flex align-items-center cursor-pointer" onClick="Blok3()">
                        <div class="opacity font--xxl-36 font-white font-bold padding-xxl--right-10">03</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Rezultat</div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="blok4-all-hide"></div> #}
    </div>
    <!-- psihoterapija -->
    <!-- cilj -->
    <div id="cilj" class="blok4-all flex flex-direction-reverse flex--l-direction">
        <div class="blok4-all-right">
            <div class="blok4-all-right-1">
                <div class="blok4-all-right-1-2">
                    <div class="blok4-all-right-1-2-image" style="background-image: url('assets/images/mrsavljenje-blok3-2.jpg')">
                        <div class="blok4-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok4-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok4-all-left-all flex flex-column">
                <div class="flex">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Isidorin&nbsp</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">primer</div>
                </div>
                <div class="blok4-all-left-all-text font--xxl-14 font-white flex padding-xxl--left-25 margin-xxl--bottom-42 margin-xl--bottom-32">Text</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. - s</div>
                <div class="margin-xxl--bottom-42 flex flex--xs-column">
                    <a href="radionice">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--right-10 margin-xs--right-none margin-xs--bottom-10">RADIONICA</button>
                    </a>
                    <a href="kontakt">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker">INDIVIDUALNA</button>
                    </a>
                </div>
                <div class="position flex">
                    <div class="position-1 flex align-items-center cursor-pointer" onClick="Blok1()">
                        <div class="opacity font-white font--xxl-36 font-bold padding-xxl--right-10">01</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Šta je Psihoterapija</div>
                    </div>
                    <div class="position-2 flex align-items-center cursor-pointer" onClick="Blok2()">
                        <div class=" font--xxl-36 font-white font-bold padding-xxl--right-10">02</div>
                        <div class="text font--xxl-12 font-green padding-xxl--left-10">Cilj</div>
                    </div>
                    <div class="position-3 flex align-items-center cursor-pointer" onClick="Blok3()">
                        <div class="opacity font--xxl-36 font-white font-bold padding-xxl--right-10">03</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Rezultat</div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="blok4-all-hide"></div> #}
    </div>
    <!-- cilj -->
    <!-- rezultat -->
    <div id="rezultat" class="blok4-all flex-direction-reverse flex--l-direction">
        <div class="blok4-all-right">
            <div class="blok4-all-right-1">
                <div class="blok4-all-right-1-2">
                    <div class="blok4-all-right-1-2-image" style="background-image: url('assets/images/mrsavljenje-blok3-1.jpg')">
                        <div class="blok4-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok4-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok4-all-left-all flex flex-column">
                <div class="flex">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Isidorin&nbsp</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">primer</div>
                </div>
                <div class="blok4-all-left-all-text font--xxl-14 font-white flex padding-xxl--left-25 margin-xxl--bottom-42 margin-xl--bottom-32">Text</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. - s</div>
                <div class="margin-xxl--bottom-42 flex flex--xs-column">
                    <a href="radionice">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--right-10 margin-xs--right-none margin-xs--bottom-10">RADIONICA</button>
                    </a>
                    <a href="kontakt">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker">INDIVIDUALNA</button>
                    </a>
                </div>
                <div class="position flex">
                    <div class="position-1 flex align-items-center cursor-pointer" onClick="Blok1()">
                        <div class="opacity font-white font--xxl-36 font-bold padding-xxl--right-10">01</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Šta je Psihoterapija</div>
                    </div>
                    <div class="position-2 flex align-items-center cursor-pointer" onClick="Blok2()">
                        <div class="opacity font--xxl-36 font-white font-bold padding-xxl--right-10">02</div>
                        <div class="text font--xxl-12 font-white padding-xxl--left-10">Cilj</div>
                    </div>
                    <div class="position-3 flex align-items-center cursor-pointer" onClick="Blok3()">
                        <div class="font--xxl-36 font-white font-bold padding-xxl--right-10">03</div>
                        <div class="text font--xxl-12 font-green padding-xxl--left-10">Rezultat</div>
                    </div>
                </div>
            </div>
        </div>
        {# <div class="blok4-all-hide"></div> #}
    </div>
    <!-- rezultat -->
</div>
<!-- blok4 -->

<!-- blok5 -->
{% set Radionica = fetch("Radionica") %}
{% for item in Radionica %}
{% if item.Oznaci == 'true' %}
<div class="blok1 logo_white" style="background-image: url('img/{{item.Slika}}')" id="section5">
    <div class="blok1-b">
        <div class="blok1-1">
            <div class="blok1-1-2">
                <div class="blok1-1-2-3">
                    <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Radionica</div>
                        <div class="blok1-1-2-3-all-text flex padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">
                            <img src="./assets/shared/date.png" >
                            <p class="font--xxl-14 font-bold font-white">{{item.Datum|date("d.m.Y")}} &nbsp</p>
                            <p class="font--xxl-14 font-white"> {{item.Vreme}}</p>
                        </div>
                        <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                        <a href="radionica/{{item.Slug}}" class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a>
                        <a href="kontakt">
                            <button class="button-big font-white font--xxl-14 background-purple-dark">ZAKAŽI SVOJ TERMIN</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<div class="hide"></div>
<!-- blok5 -->

<!-- blok6 -->
{% include 'testimonial.twig' %}
<!-- blok6 -->

<!-- blok7 -->
{% include 'radionica_3.twig' %}
<!-- blok7 -->

<!-- blok8 -->
{% include 'najnoviji_blog.twig' %}
<!-- blok8 -->

<!-- blok9 -->
{% include 'poslednji_postovi.twig' %}
<!-- blok9 -->

{% endblock %}
