{% extends "base.twig" %}
{% set Post = fetch("Blog", {"id": _GET['1']})[0] %}
{% block description %}{{Post.description}}{% endblock %}
{% block content %}

<div class="post background-purple flex flex-column align-items-center logo_white menu_white" id="posthead">
    <div class="font--xxl-36 font-white margin-xxl--top-60 margin-xxl--bottom-20 text-center margin-xxl--left-52 margin-xxl--right-52">{{Post.Naslov}}</div>
    <div class="post-image margin-xxl--bottom-48" style="background-image: url('img/{{Post.Slika}}')"></div>
</div>
<div class="post-share flex align-items-center justify-content-center logo_purple menu_purple" id="social">
    <a href="http://www.facebook.com/sharer/sharer.php?u={{_BASE | url_encode}}prost%2F{{post.Slug | url_encode}}" target="_blank">

        <img class="margin-xxl--right-48" src="./assets/shared/icon-facebook.png">
    </a>
    <a href="https://twitter.com/share?url={{Post.Slug | url_encode}}&amp;url={{_BASE | url_encode}}prost%2F{{post.Slug | url_encode}}" target="_blank">
        <img class="margin-xxl--right-48" src="./assets/shared/icon-twitter.png">
    </a>
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{Post.Slug | url_encode}}&amp;url={{_BASE | url_encode}}prost%2F{{post.Slug | url_encode}}" target="_blank">
        <img class="margin-xxl--right-48" src="./assets/shared/icon-linkedin.png">
    </a>
    <img src="./assets/shared/icon-copy-link.png">
    {# <a>
        <input type="hidden" id="input-url" value="{{_BASE | url_encode}}post/{{Post.Slug}}">
        <img onClick="CopyURL()" src="./assets/shared/icon-copy-link.png">
    </a> #}
</div>
<div class="flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div class="post-text">{{Post.Text | raw}}</div>
</div>
{# <div class="post-kom flex flex-column flex align-items-center justify-content-center">
    <div class="post-kom-title font--xxl-36">Komentari</div>
</div>
<div class="flex justify-content-center">
   <div class="fb-comments" data-href="http://isidora.ml/" data-width="" data-numposts="5"></div>

</div> <!-- ubaciti komentare --> #}
<div class="post-kom flex flex-column flex align-items-center justify-content-center">
    <div class="post-other flex align-items-center font--xxl-36">Ostali postovi</div>
</div>
<div class="flex justify-content-center margin-xxl--top-32 margin-xxl--bottom-32">
    {% set prev_project = fetch ("prev_project", {Slug:_GET[1]}) %}
    <div class="flex flex-wrap padding-xl--right-none justify-content-center">
        <div class="blog-post flex flex-column justify-content-between margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-48">
            <div class="flex flex--640-column">
                <div class="blog-post-width flex flex-column margin-xxl--right-20">
                    <div class="blog-post-image" style="background-image: url('img/{{prev_project.Slika}}')"></div>
                    <div class="flex flex-column padding-xxl--left-40 padding-left--640-20">
                        <div class="font--xxl-22 font-bold margin-xxl--top-20">{{prev_project.Naslov}}</div>
                        <div class="blog-post-line margin-xxl--top-20"></div>
                    </div>
                </div>
                <div class="flex-1 blog-post-text font--xxl-16 margin-xxl--right-20 margin-xxl--left-20 margin-xxl--top-20 margin-xxl--bottom-20">{{prev_project.Opis}}</div>
            </div>
            <div class="flex justify-content--640-between padding-left--640-20 padding-xxl--left-40 padding-right--640-20">
                <a class="blog-post-width-2 blog-post-text font--xxl-16 margin-xxl--top-20 margin-xxl--bottom-40">Podeli</a>
                <a href="post/{{prev_project.Slug}}" class="blog-post-text font--xxl-16  margin-xxl--top-20 margin-xxl--bottom-40">Saznaj više</a>
            </div>
        </div>

    {% set next_project = fetch ("next_project", {Slug:_GET[1]}) %}

        <div class="blog-post flex flex-column justify-content-between margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-48">
            <div class="flex flex--640-column">
                <div class="blog-post-width flex flex-column margin-xxl--right-20">
                    <div class="blog-post-image" style="background-image: url('img/{{next_project.Slika}}')"></div>
                    <div class="flex flex-column padding-xxl--left-40 padding-left--640-20">
                        <div class="font--xxl-22 font-bold margin-xxl--top-20">{{next_project.Naslov}}</div>
                        <div class="blog-post-line margin-xxl--top-20"></div>
                    </div>
                </div>
                <div class="flex-1 blog-post-text font--xxl-16 margin-xxl--right-20 margin-xxl--left-20 margin-xxl--top-20 margin-xxl--bottom-20">{{next_project.Opis}}</div>
            </div>
            <div class="flex justify-content--640-between padding-left--640-20 padding-xxl--left-40 padding-right--640-20">
                <a class="blog-post-width-2 blog-post-text font--xxl-16 margin-xxl--top-20 margin-xxl--bottom-40">Podeli</a>
                <a href="post/{{next_project.Slug}}" class="blog-post-text font--xxl-16  margin-xxl--top-20 margin-xxl--bottom-40">Saznaj više</a>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/sr_RS/sdk.js#xfbml=1&version=v3.3"></script>

{% endblock %}
