{% extends "base.twig" %}
{% set Descriptions = fetch("Descriptions") %}
{% block description %}{{Descriptions.Psihoterapija}}{% endblock %}
{% block content %}

<div style="height: 3.71rem;"></div>
<!-- blok1 -->
<div class="psihoterapija-blok">
    <div class="psihoterapija-blok-1">
        <div class="psihoterapija-blok-1-2">
            <div class="psihoterapija-blok-1-2-3">
                <div class="psihoterapija-blok-1-2-3-all flex flex-column justify-content-center justify-content--l-end margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-m--right-57 margin-xs--right-23">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold">Psihoterapeut pruža saosećanje,</div>
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white margin-xxl--bottom-42 margin-xl--bottom-32">podršku i razumevanje.</div>
                    <div class="psihoterapija-blok-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">Razgovaraj sa nekim ko će te prihvatiti bez osuđivanja.</div>
                </div>
            </div>
        </div>
    </div>
    <a href="pitajte_Isidoru" class="psihoterapija-blok-icon flex align-items-center">
        <div class="font--xxl-14 font-white margin-xxl--right-24">Pitajte isidoru</div>
        <img src="assets/shared/icon-chat.svg">
    </a>
</div>
<!-- blok1 -->

<!-- blok2 -->
{% set Primer = fetch("Primer") %}
<div id="owl4" class="testimonial owl-carousel owl-theme owl-loaded blok4 background-purple logo_white menu_white" id="section4">
    <!-- psihoterapija -->
    {% for item in Primer %}
    <div id="psihoterapija" class="blok4-all flex-direction-reverse flex--l-direction">
        <div class="blok4-all-right">
            <div class="blok4-all-right-1">
                <div class="blok4-all-right-1-2">
                    <div class="blok4-all-right-1-2-image" style="background-image: url('img/{{item.Slika}}')">
                        <div class="blok4-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blok4-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
            <div class="blok4-all-left-all flex flex-column">
                <div class="flex">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Naslov}}</div>
                </div>
                <div class="flex align-items-center margin-xxl--bottom-42 margin-xl--bottom-32">
                    <div class="font-white font--xxl-36 font-bold padding-xxl--right-10">{{item.Broj}}</div>
                    <div class="text font--xxl-14 font-green padding-xxl--left-10">{{item.Naziv}}</div>
                </div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                <div class="margin-xxl--bottom-42 flex flex--xs-column">
                    <a href="{{item.Btn}}">
                        <button class="button-midd font-white font--xxl-14 background-purple-darker margin-xxl--right-10 margin-xs--right-none margin-xs--bottom-10">PRIJAVI SE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- blok2 -->

<!-- blok3 -->
{% include 'radionica_3.twig' %}
<!-- blok3 -->

<!-- blok4 -->
<div id="blizak_odnos" class="blizak-odnos flex flex--l-direction">
    <div class="blizak-odnos-left">
        <div class="blizak-odnos-left-image-1"><img src="./assets/images/home-blok2-1.png"></div>
        <div class="blizak-odnos-left-image-2"><img src="./assets/images/home-blok2-2.png"></div>
        <div class="blizak-odnos-left-image-3"><img src="./assets/images/home-blok2-3.png"></div> 
    </div>
    <div class="blizak-odnos-right flex flex-column justify-content-center">
    <img class="blizak-odnos-right-line" src="./assets/images/linija.png">
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-xs--right-23">
            <div class="font--xxl-46 font--xl-42 font--xs-36 font-white flex flex--s-column margin-xxl--bottom-32 margin-xl--bottom-24"><p class="font-bold font--xxl-46 font--xl-42 font--xs-36 font-white">Blizak odnos&nbsp</p> je lekovit</div>
            <div class="blizak-odnos-right-text">
                <div class="font--xxl-14 font-white margin-xxl--bottom-24 margin-xl--bottom-18">
                    Psihoterapijom se bavim, jer čvrsto verujem da ljudi, uz podršku, mogu
                    da postanu bolji i da žive sadržajnije živote. Često me pitaju u strahu da
                    li se isplati zaranjaje u svoje dubine. Plaše se šta će tamo naći, jer je i
                    sama površina zastrašujuća i nešto čega se stide. Iz desetogodišnjeg
                    iskustva znam da ih tamo čeka osoba kakvu ne mogu ni u najlepšim
                    snovima da zamisle, osoba koja je interesantna, kvalitetna i dobra.
                </div>
            </div>
        </div>
        <div class="margin-l--left-70 margin-m--left-57 margin-xs--left-23 margin-l--top-24 margin-l--bottom-50">
            <div class="font--xxl-24 font-bold font-italic font-white margin-xxl--bottom-32 margin-xl--bottom-24">Šta su o meni rekli</div>
            <div id="owl-one" class="owl-carousel owl-theme owl-loaded">
                {% set Testimonial = fetch("Testimonial") %}
                {% for item in Testimonial %}
                    <div>
                        <div class="font-italic font-bold font--xxl-16 font-white margin-xxl--bottom-10">{{item.ImePrezime}}</div>
                        <div class="blizak-odnos-right-testimonial-text font-italic font--xxl-16 font-white">{{item.Text}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- blok4 -->

<!-- blok5 -->
{% include 'pozovi_nas.twig' %}
<!-- blok5 -->
{% include 'footer.twig' %}
{% endblock %}