{% extends "base.twig" %}
{% set Radionica = fetch("Radionica", {"id": _GET['1']})[0] %}
{% block description %}{{Radionica.description}}{% endblock %}
{% block content %}

<div style="height: 3.71rem;"></div>
<!-- blok1 -->
<div class="blok1 logo_white" id="section1" style="background-image: url('img/{{Radionica.Info_o_radionici_slika}}')">
    <div class="radionica-gr">
        <div class="blok1-1">
            <div class="blok1-1-2">
                <div class="blok1-1-2-3">
                    <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Naziv}}</div>-->
                        <!--<div class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Grad}}</div> -->
                        <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Info_o_radionici_text}}</div>
                        <button class="button-big button-border-purple">
                            <a class="font-white font--xxl-14 font-bold transform-uppercase text-center" href="{{Radionica.Video_Link}}" target="_blank">
                                <span>Pogledaj video</span> 
                                <img src="assets\shared\video-btn.png" class="padding-xxl--left-18"/>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide"></div>
<!-- blok1 -->

<!-- blok2 -->
<div class="blok3 flex flex--l-column logo_white"  id="section2">
    <div class="blok3-left">
        <div class="blok3-left-1">
            <div class="blok3-left-1-image" style="background-image: url('img/{{Radionica.Kome_je_namenjena_slika}}')">
                <div class="radionica-gr-white"></div>
            </div>
        </div>
    </div>
    <div class="blok3-right flex align-items-center" style="z-index:9;">
        <div class="blok3-right-all flex flex-column margin-xs--left-23 margin-l--bottom-50">
            <div class="font--xxl-36 font-purple font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Kome_je_namenjena_naslov}}</div>
            <div class="blok3-right-all-line font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32 padding-xxl--left-25">{{Radionica.Kome_je_namenjena_opis}}</div>
            <div style="white-space: pre-wrap;" class="font--xxl-14 font-purple margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Kome_je_namenjena_text}}</div>
        </div>
    </div>
</div>
<!-- blok2 -->

<!-- blok3 -->

<div class="blok1 logo_white" id="section3" style="background-image: url('img/{{Radionica.Benefit_radionice_slika}}')">
    <div style="height: 100%;" class="bgroung">
    <div class="blok1-1">
        <div class="blok1-1-2">
            <div class="blok1-1-2-3">
                <div class="blok1-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                    <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_naslov}}</div>
                    <div class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_opis}}</div>
                    <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_text}}</div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="hide-radionica">
    <div class="flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
        <div style="color: transparent" class="font--xxl-46 font--xl-42 font--xs-36 margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_naslov}}</div>
        <div style="color: transparent" class="blok1-1-2-3-all-text padding-xxl--left-25 font--xxl-14 margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_opis}}</div>
        <div style="color: transparent" class="hide-radionica-txt font--xxl-14 margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Benefit_radionice_text}}</div>
    </div>
</div>
<!-- blok3 -->

<!-- blok4 -->
{% include 'testimonial.twig' %}
<!-- blok4 -->

<!-- blok5 -->
<div id="najnoviji_blog logo_white" class="najnoviji_blog logo_white">
    <div class="najnoviji_blog-all flex flex-direction-reverse flex--l-direction">
        <div class="najnoviji_blog-all-right">
            <div class="najnoviji_blog-all-right-1">
                <div class="najnoviji_blog-all-right-1-2">
                    <div class="najnoviji_blog-all-right-1-2-image" style="background-image: url('img/{{Radionica.Vreme_odrzavanja_slika}}')">
                        <div class="najnoviji_blog-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="najnoviji_blog-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-l--bottom-50">
            <div class="najnoviji_blog-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Vreme_odrzavanja_naslov}}</div>
                <div class="najnoviji_blog-all-left-all-text font--xxl-14 font-white flex padding-xxl--left-25 margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Grad}} {{Radionica.Datum|date("d.m.Y")}}  {{Radionica.Vreme}}</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Radionica.Vreme_odrzavanja_opis}}</div>
            </div>
        </div>
    </div>
</div>
<!-- blok5 -->

<!-- blok6 -->
<div class="detaljnije-kk detaljnije-kk-bcg1 flex flex-column logo_purple" id="section6">
    <div class="margin-xxl--top-150 margin-xxl--bottom-42 detaljnije-kk-top flex align-items-end justify-content-center font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold text-center margin-l--top-100 margin-l--bottom-50 margin-xxl--left-24 margin-xxl--right-24">{{Radionica.Koliko_kosta_naslov}}</div>
    <div class="margin-xxl--bottom-150 detaljnije-kk-bottom flex flex--l-column align-items-start align-items--l-center justify-content-around padding-xxl--left-135 padding-xxl--right-135 padding-xl--left-70 padding-m--left-57 padding-xs--left-23 padding-xxl--right-135 padding-xl--right-70 padding-m--right-57 padding-xs--right-23">
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-kk-1.png">
            <div class="detaljnije-kk-bottom-all-line background-purple margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-purple margin-xxl--bottom-24 text-center">{{Radionica.Koliko_kosta_1_naslov}}</div>
            <div class="font--xxl-16 font-purple font-italic text-center">{{Radionica.Koliko_kosta_1}}</div>
        </div>
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-kk-2.png">
            <div class="detaljnije-kk-bottom-all-line background-purple margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-purple margin-xxl--bottom-24 text-center">{{Radionica.Koliko_kosta_2_naslov}}</div>
            <div class="font--xxl-16 font-purple font-italic text-center">{{Radionica.Koliko_kosta_2}}</div>
        </div>
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-kk-3.png">
            <div class="detaljnije-kk-bottom-all-line background-purple margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-purple margin-xxl--bottom-24 text-center">{{Radionica.Koliko_kosta_3_naslov}}</div>
            <div class="font--xxl-16 font-purple font-italic text-center">{{Radionica.Koliko_kosta_3}}</div>
        </div>
    </div>
</div>
<!-- blok6 -->

<!-- blok7 -->
<div class="detaljnije-kk detaljnije-kk-bcg2 background-purple flex flex-column logo_white menu_white" id="section7">
    <div class="detaljnije-kk-top margin-xxl--top-150 margin-xxl--bottom-42 flex flex-column align-items-center justify-content-end margin-l--top-100 margin-l--bottom-50 margin-xxl--left-24 margin-xxl--right-24">
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold text-center margin-xxl--bottom-24">{{Radionica.Koncept_radionice_naslov}}</div>
        <div class="detaljnije-kk-bottom-all-line background-white margin-xxl--bottom-24"></div>
        <div class="font--xxl-16 font-white text-center">{{Radionica.Koncept_radionice_opis}}</div>
    </div>
    <div class="detaljnije-kk-bottom margin-xxl--bottom-150 flex flex--l-column align-items-start align-items--l-center justify-content-around padding-xxl--left-135 padding-xxl--right-135 padding-xl--left-70 padding-m--left-57 padding-xs--left-23 padding-xxl--right-135 padding-xl--right-70 padding-m--right-57 padding-xs--right-23">
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-vmc-1.png">
            <div class="detaljnije-kk-bottom-all-line background-white margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-white margin-xxl--bottom-24 text-center">{{Radionica.Koncept_radionice_1_naslov}}</div>
            <div class="font--xxl-16 font-white font-italic text-center">{{Radionica.Koncept_radionice_1}}</div>
        </div>
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-vmc-2.png">
            <div class="detaljnije-kk-bottom-all-line background-white margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-white margin-xxl--bottom-24 text-center">{{Radionica.Koncept_radionice_2_naslov}}</div>
            <div class="font--xxl-16 font-white font-italic text-center">{{Radionica.Koncept_radionice_2}}</div>
        </div>
        <div class="detaljnije-kk-bottom-all flex flex-column align-items-center margin-l--bottom-70">
            <img class="detaljnije-kk-bottom-all-img margin-xxl--bottom-48" src="./assets/images/radionica-vmc-3.png">
            <div class="detaljnije-kk-bottom-all-line background-white margin-xxl--bottom-10"></div>
            <div class="font--xxl-16 font-white margin-xxl--bottom-24 text-center">{{Radionica.Koncept_radionice_3_naslov}}</div>
            <div class="font--xxl-16 font-white font-italic text-center">{{Radionica.Koncept_radionice_3}}</div>
        </div>
    </div>
</div>
<!-- blok7 -->

<!-- blok8 -->
<div class="flex flex-column align-items-center padding-xxl--left-40 padding-xxl--right-40 logo_purple menu_purple" id="section8">
    <div class="flex font--xxl-46 font--xl-42 font--xs-36 font-purple font-bold text-center margin-xxl--top-150 margin-xxl--bottom-80">{{Radionica.Sta_dobijas_naslov}}</div>
    <div class="flex flex--l-column align-items--l-center">
        <div class="detaljnije-blok8-text font--xxl-16 font-purple font-italic margin-xxl--left-40 margin-xxl--right-40">{{Radionica.Sta_dobijas1 | raw}}</div>
        <div class="detaljnije-blok8-text font--xxl-16 font-purple font-italic margin-xxl--left-40 margin-xxl--right-40 margin-l--top-50">{{Radionica.Sta_dobijas2 | raw}}</div>
    </div>
</div>
<!-- blok8 -->

<!-- blok9 -->
<div id="zakazi" class="sivi-luk flex flex-column padding-xxl--top-100 padding-xxl--bottom-100">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="font--xxl-46 font-purple font-bold margin-xxl--bottom-24 text-center">{{Radionica.Motivacioni_tekst_XL}}</div>
        <div class="kontakt-line"></div>
        <div class="font--xxl-16 font-purple text-center margin-xxl--top-24 margin-xxl--bottom-60">{{Radionica.Motivacioni_tekst_SM}}</div>
    </div>
    <div >
        <form id="contactform" onsubmit="return false;" class="flex justify-content-between flex--l-column align-items--l-center padding-xxl--left-135 padding-xxl--right-135 padding-xs--left-23 padding-xs--right-23">
          <div class="kontakt-side flex flex-column r2l">
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Ime i Prezime</div>
            <input class="kontakt-form margin-xxl--bottom-20 margin-l--bottom-20" id="form-name" type="text"/>
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Email</div>
            <input class="kontakt-form margin-xxl--bottom-20" id="form-email" type="text"/>

            <input id="form-title" type="text" style="display:none" value="{{_GET['1']}}"/>
            
          </div>
          <div class="kontakt-side flex flex-column l2r">
            <div class="font-xxl--18 font-grey--form margin-xxl--bottom-10 text--l-center">Tekst</div>
            <textarea class="kontakt-form margin-xxl--bottom-24" id="form-message" type="text"></textarea>

            <div id="form-status-message" style="text-align: center; margin-bottom: 1rem; display:none">
            Hvala na prijavi! Sve bitne informacije i instrukcije za uplatu stići će ti na e-mail.
            </div>

            <div class="w-100 flex justify-content-end justify-content--l-center">
                <button onclick="submitForm()" class="button-midd font-white font--xxl-14 border-purple-light">POŠALJI</button>
            </div>
          </div>
        </form>
    </div>
</div>
{% set Kontakt = fetch("Kontakt") %}

<div class="map-black-white" id="mapid">
    <div class="kontakt-mapa"></div>
</div>
<!-- blok9 -->

<!-- blok10 -->
<div class="flex flex-column logo_white menu_white" id="section10">
    <div class="detaljnije-radionice flex padding-xxl--top-100 padding-xxl--bottom-100 flex-column align-items-center justify-content-center padding-xxl--left-24 padding-xxl--right-24">
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold text-center">{{Radionica.Naslov_Desetog_Odeljka}}</div>
    </div>
    <div class="flex background-purple flex--l-column padding-l--left-40 padding-l--right-40 align-items--l-center">
    {% set Radionice = fetch("Radionica") %}
    {% for item in Radionice %}

        <a href="radionica/{{item.Slug}}" class="detaljnije-radionice-1 flex flex-3 flex--l-none flex-column justify-content-end align-items--l-center margin-l--bottom-30" style="background-image: linear-gradient(360deg, #291644 0%, rgba(41, 22, 68, 0) 100%), url('img/{{item.Slika}}');">
            <div class="font--xxl-36 font--s-32 font--xs-24 font-bold font-white margin-xxl--bottom-32 margin-l--bottom-24 margin-xs--bottom-10 padding-xxl--left-40 padding-xxl--right-40 text--l-center">{{item.Naziv}}</div>
            <div class="detaljnije-radionice-1-line margin-l--bottom-24 margin-xs--bottom-10"></div>
            <div class="detaljnije-radionice-1-opis padding-xxl--left-18 padding-l--left-none font--xxl-14 font-white margin-xxl--bottom-42 margin-l--bottom-24 margin-xs--bottom-10  margin-xxl--left-40 padding-xxl--right-40 text--l-center">{{item.Opis}}</div>
        </a>

    {% endfor %}
    </div>
</div>
<!-- blok10 -->
{% include 'footer.twig' %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>

<script>
    var MapStr = '{{Kontakt.mapaRadionice}}';
    var lat  = Number( MapStr.split(',')[0] );
    var lng  = Number( MapStr.split(',')[1] );
    var map =  L.map('mapid',{scrollWheelZoom: false}).setView([lat, lng ], 13);

    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var marker = new L.marker([lat, lng]).addTo(map);
</script>
{% endblock %}
