{% extends "base.twig" %}
{% block content %}

{% set Radionica = fetch("Radionica") %}
<div style="height: 3.71rem;"></div>
{% for item in Radionica %}
{# {% if item.Oznaci == 'true' %} #}
<div class="radionica" style="background-image: url('img/{{item.Slika}}')">
    <div class="radionica-gr">
        <div class="radionica-1">
            <div class="radionica-1-2">
                <div class="radionica-1-2-3">
                    <div class="radionica-1-2-3-all flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
                        <div class="font--xxl-72 font-white font-bold opacity-01">{{item.Broj}}</div>
                        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Naziv}}</div>
                        <div class="flex align-items-center font--xxl-14 font-white margin-xxl--bottom-20 margin-xl--bottom-20 margin-m--bottom-46 margin-s--bottom-32">
                            <img style="width: 1.125rem; height: 1.25rem;" src="./assets/shared/date-white.png" >
                            <p class="font--xxl-14 font-bold font-white margin-xxl--left-20">{{item.Datum|date("d/m/Y")}} &nbsp</p>
                        </div>
                        <div class="radionica-1-2-3-all-text flex align-items-center font--xxl-14 font-white margin-xxl--bottom-20 margin-xl--bottom-20 margin-m--bottom-46 margin-s--bottom-32">
                            {# <img style="width: 1.125rem; height: 1.25rem;" src="./assets/shared/date-white.png" > #}
                            <p class="font--xxl-14 font-bold font-white margin-xxl--left-20">Lorem Ipsum is simply dummy text of the printing</p>
                            {# <p class="font--xxl-14 font-white"> {{item.Vreme}}</p> #}
                        </div>
                        <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
                        {# <a class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a> #}
                        <a href="radionica/{{item.Slug}}">
                            <button class="button-midd font-white font--xxl-14 border-purple-light">SAZNAJ VIŠE</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="radionica-hide">
    <div class="radionica-hide-all margin-l--bottom-50 flex flex-column justify-content-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23">
        <div class="font--xxl-72 font-white font-bold opacity-01">{{item.Broj}}</div>
        <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Naziv}}</div>
        <div class="flex align-items-center font--xxl-14 font-white margin-xxl--bottom-20 margin-xl--bottom-20 margin-m--bottom-46 margin-s--bottom-32">
            <img style="width: 1.125rem; height: 1.25rem;" src="./assets/shared/date-white.png" >
            <p class="font--xxl-14 font-bold font-white margin-xxl--left-20">{{item.Datum|date("d/m/Y")}} &nbsp</p>
        </div>
        <div class="radionica-1-2-3-all-text flex align-items-center font--xxl-14 font-white margin-xxl--bottom-20 margin-xl--bottom-20 margin-m--bottom-46 margin-s--bottom-32">
            {# <img style="width: 1.125rem; height: 1.25rem;" src="./assets/shared/date-white.png" > #}
            <p class="font--xxl-14 font-bold font-white margin-xxl--left-20">Lorem Ipsum is simply dummy text of the printing</p>
            {# <p class="font--xxl-14 font-white"> {{item.Vreme}}</p> #}
        </div>
        <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{item.Opis}}</div>
        {# <a class="font-italic font-bold font--xxl-14 font-white margin-xxl--bottom-42 margin-s--bottom-32">Saznaj više</a> #}
        <button class="button-midd font-white font--xxl-14 border-purple-light">SAZNAJ VIŠE</button>
    </div>
</div>
<div class="radionica-prijavi-se flex flex--m-column-reverse align-items-center margin-xxl--left-135 margin-xl--left-70 margin-m--left-none margin-m--top-24 margin-m--bottom-24 margin-xs--left-23 margin-xs--right-23">
    <button class="button-small font-white font--xxl-14 border-purple-light">PRIJAVI SE</button>
    <div class="font--xxl-16 font-purple text-center margin-xxl--left-40 margin-m--left-none margin-m--bottom-24">Saznaj te više i prijavi se za radionicu</div>
</div>
{# {% endif %} #}
{% endfor %}



{% endblock %}