 {% extends "base.twig" %}
{% block content %}

{% set Blog = fetch("Blog") %}

<div style="height: 3.75rem;"></div>

<!-- blok1 -->
<div id="najnoviji_blog" class="najnoviji_blog">
    <div class="najnoviji_blog-all flex flex-direction-reverse flex--l-direction">
    {% set Video = fetch("Video") | first %}
        <div class="najnoviji_blog-all-right">
            <div class="najnoviji_blog-all-right-1">
                <div class="najnoviji_blog-all-right-1-2">
                    <div class="najnoviji_blog-all-right-1-2-image" style="background-image: url('img/{{Video.Slika}}')">
                        <div class="najnoviji_blog-all-right-1-2-image-gr"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="najnoviji_blog-all-left flex flex-column justify-content-center align-items-start margin-xxl--left-135 margin-xl--left-70 margin-m--left-57 margin-xs--left-23 margin-l--bottom-50">
            <div class="najnoviji_blog-all-left-all flex flex-column">
                <div class="font--xxl-46 font--xl-42 font--xs-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">Video</div>
                <div class="najnoviji_blog-all-left-all-text font--xxl-14 font-white flex padding-xxl--left-25 margin-xxl--bottom-77 margin-xl--bottom-32 margin-m--bottom-46 margin-s--bottom-32">New post &nbsp {{Blog.Datum|date("d/m/Y")}}</div>
                <div class="font--xxl-36 font-white font-bold margin-xxl--bottom-42 margin-xl--bottom-32">{{Video.Naslov}}</div>
                <div class="font--xxl-14 font-white margin-xxl--bottom-42 margin-xl--bottom-32">{{Video.Text}}</div>
                <a data-fancybox id="url" onclick="url2embed('{{Video.Video}}');">
                    <button class="button-midd font-white font--xxl-14 background-purple-darker">SAZNAJ VIŠE</button>
                </a>
            </div>
        </div>
        {# <div class="najnoviji_blog-all-hide"></div> #}
    </div>
</div>
<!-- blok1 -->

<div class="flex flex-column align-items-center">
    <!-- blok2 -->
    <div class="blog font--xxl-32 font-blue margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--top-42 margin-xxl--bottom-42">Top Posts</div>
    <!-- blok2 -->

    <!-- posts -->
    <div class="flex flex-wrap padding-xxl--left-180 padding-xl--left-none padding-xxl--right-180 padding-xl--right-none justify-content-center">
        {% for item in Blog %}
        {% if loop.index > 1 %}
        <div class="blog-post flex flex-column justify-content-between margin-xxl--left-12_5 margin-xxl--right-12_5 margin-xxl--bottom-48">
            <div class="flex flex--640-column">
                <div class="blog-post-width flex flex-column margin-xxl--right-20">
                    <div class="blog-post-image" style="background-image: url('img/{{item.Slika}}')"></div>
                    <div class="flex flex-column padding-xxl--left-40 padding-left--640-20">
                        <div class="font--xxl-22 font-bold margin-xxl--top-20">{{item.Naslov}}</div>
                        <div class="blog-post-line margin-xxl--top-20"></div>
                    </div>
                </div>
                <div class="flex-1 blog-post-text font--xxl-16 margin-xxl--right-20 margin-xxl--left-20 margin-xxl--top-20 margin-xxl--bottom-20">{{item.Opis}}</div>
            </div>
            <div class="flex justify-content--640-between padding-left--640-20 padding-xxl--left-40 padding-right--640-20">
                <a class="blog-post-width-2 blog-post-text font--xxl-16 margin-xxl--top-20 margin-xxl--bottom-40">Podeli</a>
                <a href="post/{{item.Slug}}" class="blog-post-text font--xxl-16  margin-xxl--top-20 margin-xxl--bottom-40">Vidi više</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <!-- posts -->
</div>

{% endblock %}